<a class="d-block d-lg-none p-2 p-sm-3 btn-sidebar btn-sidebar--close position-fixed {{ sidebarPosition }}"  data-bs-toggle="offcanvas" href="#{{ sidebarPosition }}" role="button" aria-controls="{{ sidebarPosition }}">
    {% render 'icons', icon: 'close', attr: 'width="20"' %}
</a>
<div class="offcanvas-body pb-0 p-lg-0">
    <div class="blog-sidebar--inner overflow-hidden">
        {%- for block in section.blocks -%}
            {%- case block.type -%}
                {%- when 'search' -%}
                    <div class="blog-search mb-4 mb-lg-5">
                        {%- if block.settings.search_title != blank -%}
                            <h5 class="block-sidebar__title">{{ block.settings.search_title }}</h5>
                        {%- endif -%}
                        <div class="block-sidebar__content position-relative">
                            <div class="block-sidebar__content--inner">
                                <form action="{{ routes.search_url }}" method="get" class="blog-search__form" role="search">
                                    <input type="hidden" name="type" value="article" />
                                    <input type="hidden" name="view" value="article" />
                                    <div class="input-group border overflow-hidden">
                                        <input class="form-control blog-search__input border-0"
                                            type="search"
                                            name="q"
                                            value="{{ search.terms | escape }}"
                                            placeholder="{{ 'templates.search.search-blog-placeholder' | t }}"
                                            aria-label="{{ 'templates.search.search-blog-placeholder' | t }}">
                                        <button type="submit" class="btn blog-search__btn bg-white">
                                            {% render 'icons', icon: 'search', attr: 'width="24"' %}
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {%- when 'categories' -%}
                    <div  class="blog-categories mb-4 mb-lg-5">
                        {%- if block.settings.categories_title != blank -%}
                            <h5 class="block-sidebar__title">
                                {{ block.settings.categories_title }}
                            </h5>
                        {%- endif -%}
                        <div id="categories{{ forloop.index }}" class="block-sidebar__content position-relative">
                            <div class="block-sidebar__content--inner">
                                <div class="blog-categories__list">
                                    {%- for block in section.blocks -%}
                                        {%- if block.settings.categories_handle != blank -%}
                                            {%- assign blogHandle = block.settings.categories_handle -%}
                                            {%- if linklists[blogHandle] != empty -%}
                                                <ul class="sidebarListCategories m-0 list-unstyled">
                                                    {% for linkItem in linklists[blogHandle].links %}
                                                        {%- assign hasDropdown = false -%}
                                                        {%- assign subItem = forloop.index -%}
                                                        {%- if linklists[linkItem.handle] != empty -%}
                                                            {%- assign hasDropdown = true -%}
                                                        {%- endif -%}
                                                        <li class="sidebarBlogCateItem">
                                                            <a {% if linkItem.active %} class="active" {% endif %} href="{{ linkItem.url }}">{{ linkItem.title }}</a>
                                                            {%- if hasDropdown -%}
                                                                <span class="arrow collapsed" data-bs-toggle="collapse" data-bs-target="#subCategory{{ forloop.index }}" aria-expanded="false"  aria-controls="#subCategory{{ forloop.index }}">
                                                                    {% render 'icons', icon: 'minus', class: 'icon icon-minus' %}
                                                                    {% render 'icons', icon: 'plus', class: 'icon icon-plus' %}
                                                                </span>
                                                                <div id="subCategory{{ forloop.index }}" class="collapse">
                                                                    <ul class="sidebarListCategories subListCategories m-0 list-unstyled">
                                                                        {% for linkChildItem in linklists[linkItem.handle].links %}
                                                                            {%- assign hasDropdown = false -%}
                                                                            {%- if linklists[linkChildItem.handle] != empty -%}
                                                                                {%- assign hasDropdown = true -%}
                                                                            {%- endif -%}
                                                                            <li class="sidebarBlogCateItem">
                                                                                <a  {% if linkChildItem.active %} class="active" {% endif %} href="{{ linkChildItem.url }}">{{ linkChildItem.title }}</a>
                                                                                {%- if hasDropdown -%}
                                                                                    <span class="arrow collapsed" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#subCategory{{ subItem }}{{ forloop.index }}" aria-controls="#subCategory{{ subItem }}{{ forloop.index }}">
                                                                                        {% render 'icons', icon: 'minus', class: 'icon icon-minus' %}
                                                                                        {% render 'icons', icon: 'plus', class: 'icon icon-plus' %}
                                                                                    </span>
                                                                                    <div id="subCategory{{ subItem }}{{ forloop.index }}" class="collapse">
                                                                                        <ul class="sidebarListCategories subListCategories m-0 list-unstyled">
                                                                                            {% for linkChildItem2 in linklists[linkChildItem.handle].links %}
                                                                                                <li class="sidebarBlogCateItem">
                                                                                                    <a href="{{ linkChildItem2.url }}">{{ linkChildItem2.title }}</a>
                                                                                                </li>
                                                                                            {% endfor %}
                                                                                        </ul>
                                                                                    </div>
                                                                                {%- endif -%}
                                                                            </li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </div>
                                                            {%- endif -%}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {%- endif -%}
                                        {%- endif -%}
                                    {%- endfor-%}
                                </div>
                            </div>
                        </div>
                    </div>
                {%- when 'relatedarticles' -%}
                    {%- assign heading = block.settings.relatedarticles_title | escape -%}
                    {%- assign limit = block.settings.relatedarticles_limit | plus: 0 -%}
                    <div class="related-artibles mb-4 mb-lg-5">
                        {%- if heading -%}
                            <h5 class="block-sidebar__title related-artibles__title">
                                {{ heading }}
                            </h5>
                        {%- endif -%}
                        <div id="related{{ forloop.index }}" class="block-sidebar__content related-artibles__content position-relative">
                            <div class="block-sidebar__content--inner">
                                <ul class="related-artibles__list mb-0">
                                    {%- assign article_handle = article.handle -%}
                                    {% for article in blogs[blog.handle].articles limit:limit %}
                                        {%- if article.handle != article_handle -%}
                                            <li class="related-artibles__item{% if forloop.first %} pb-2{% else %} py-2{% endif%}">
                                                <div class="related-artibles__card row g-3 align-items-center">
                                                    {%- if article.image and block.settings.relatedarticles_image -%}
                                                        <div class="related-artibles__card-image col-4">
                                                            <a class="d-block overflow-hidden"  href="{{ article.url }}">
                                                                {% render 'img-global', image: article.image, image_ratio: 'square', images_size: '100x100', crop: 'center' %}
                                                            </a>
                                                        </div>
                                                    {%- endif -%}
                                                    <div class="related-artibles__card-content {% if article.image and block.settings.relatedarticles_image %}col-8{% else %}col-12{% endif %}">
                                                        <h6 class="mb-0 line-clamp-2"><a href="{{ article.url }}"><span>{{ article.title }}</span></a></h6>
                                                        <div class="article__meta d-flex flex-wrap align-items-center">
                                                            {%- capture post_date -%}{{ article.published_at | date: format: 'month_date_year' }}{%- endcapture -%}
                                                            <div class="article__meta-date mb-1"><time datetime="{{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' }}" class="date">{{ post_date }}</time></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {%- endif -%}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {%- when 'banner' -%}
                    {%- assign url = block.settings.banner_url -%}
                    {%- assign image = block.settings.banner_img -%}
                    {%- if image -%}
                        <div class="blog-banner mb-4 mb-lg-5">
                            <div class="block-sidebar__content">
                                <a class="d-block overflow-hidden" href="{{ url }}" title="{{ image.alt | default: shop.name }}">
                                    {% render 'img-global', image: image %}
                                </a>
                            </div>
                        </div>
                    {%- endif -%}
                {%- when 'tags' -%}
                    {%- assign limit = block.settings.tags_limit -%}
                    <div class="blog-tags mb-4 mb-lg-5">
                        {%- if block.settings.tags_title != blank -%}
                            <h5 class="block-sidebar__title blog-tags__title">
                                {{ block.settings.tags_title }}
                            </h5>
                        {%- endif -%}
                        <div id="tags{{ forloop.index }}" class="block-sidebar__content blog-tags__content position-relative">
                            <div class="block-sidebar__content--inner">
                                <ul class="blog-tags__list">
                                    {% for tag in blog.all_tags limit: limit %}
                                        <li class="blog-tags__item{% if current_tags contains  tag %} active{% endif %}">{{ tag | link_to_tag: tag }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {%- when 'html' -%}
                    <div class="blog-html mb-4 mb-lg-5">
                        {%- if block.settings.html_title != blank -%}
                            <h5 class="block-sidebar__title blog-html__title">
                                {{ block.settings.html_title }}
                            </h5>
                        {%- endif -%}
                        <div id="html{{ forloop.index }}" class="block-sidebar__content blog-html__content">
                            <div class="block-sidebar__content--inner">
                                <div class="rte">
                                    {{ block.settings.html_content }}    
                                </div>
                            </div>
                        </div>
                    </div>
            {%- endcase -%}
        {%- endfor -%}
    </div>
</div>