<div class="gift-box-wrapper position-absolute bottom-0 end-0 mb-4 me-4">
    <script src="https://cdn.jsdelivr.net/npm/tsparticles-confetti@2.9.3/tsparticles.confetti.bundle.min.js"></script>
    <style>
     
    .gift-box {
      cursor: pointer;
    }
    #my-canvas {
      
      pointer-events: none;
      width: 800px;
      height: 800px;
    }
    .gift-box .anchor {
      transform-origin: center top;
      display:inline-block;
      margin:0;
      padding:0;       
    }
    
    .gift-box .layer-1 {
      color:#1d1e22;
      z-index:3;
      animation: animation-layer-1 5000ms infinite;      
      opacity:0;  
    }
    
    .gift-box .layer-2 {
      color:#1d1e22;
      z-index:2;
      position:absolute;top:0;left:0;   
      animation: animation-layer-2 5000ms infinite;    
    }
    
    .gift-box .layer-3 {
      color:#333642;
      z-index:1;
      position:absolute;top:0;left:0; 
      animation: animation-layer-3 5000ms infinite;    
    }
    
    @keyframes animation-layer-1 {
      0% { transform: rotate(0deg);opacity:0; }
      8.0% { transform: rotate(0deg);opacity:0; }
      12.0% { transform: rotate(42deg);opacity:.5; }
      16.0% { transform: rotate(-35deg);opacity:.4; }
      20.0% { transform: rotate(0deg);opacity:.1; }
      23.0% { transform: rotate(28deg);opacity:.3; }
      26.0% { transform: rotate(-20deg);opacity:.2; }
      29.0% { transform: rotate(0deg);opacity:.1; }
      31.0% { transform: rotate(16deg);opacity:0; }
      33.0% { transform: rotate(-12deg);opacity:0; }
      35.0% { transform: rotate(0deg);opacity:0; }	
      37.0% { transform: rotate(-6deg);opacity:0; }
      39.0% { transform: rotate(0deg);opacity:0; }
    }
    
    @keyframes animation-layer-2 {
      0% { transform: rotate(0deg); }
      8.0% { transform: rotate(0deg); }
      12.0% { transform: rotate(42deg); }
      16.0% { transform: rotate(-35deg); }
      20.0% { transform: rotate(0deg); }
      23.0% { transform: rotate(28deg); }
      26.0% { transform: rotate(-20deg); }
      29.0% { transform: rotate(0deg); }
      31.0% { transform: rotate(16deg); }
      33.0% { transform: rotate(-12deg); }
      35.0% { transform: rotate(0deg); }	
      37.0% { transform: rotate(-6deg); }
      39.0% { transform: rotate(0deg); }
      40.0% { transform: rotate(6deg); }
      44.0% { transform: rotate(-3deg); }
      49.0% { transform: rotate(2deg);}
      55.0% { transform: rotate(0deg); }
      62.0% { transform: rotate(1deg); }
      70.0% { transform: rotate(0deg); }  
    }
    
    @keyframes animation-layer-3 {
      0% { transform: rotate(0deg);opacity:1; }
      8.0% { transform: rotate(0deg);opacity:1; }
      12.0% { transform: rotate(52deg);opacity:.5; }
      16.0% { transform: rotate(-48deg);opacity:.4; }
      20.0% { transform: rotate(0deg);opacity:1; }
      23.0% { transform: rotate(42deg);opacity:.3; }
      26.0% { transform: rotate(-30deg);opacity:.2; }
      29.0% { transform: rotate(0deg);opacity:1; }
      31.0% { transform: rotate(26deg);opacity:.15; }
      33.0% { transform: rotate(-18deg);opacity:.1; }
      35.0% { transform: rotate(0deg);opacity:1; }	
      37.0% { transform: rotate(-12deg);opacity:.8; }
      40.0% { transform: rotate(6deg);opacity:1; }
      44.0% { transform: rotate(-3deg);opacity:.8; }
      49.0% { transform: rotate(2deg);opacity:1; }
      55.0% { transform: rotate(0deg);opacity:1; }
      62.0% { transform: rotate(1deg);opacity:1; }
      70.0% { transform: rotate(0deg);opacity:1; }
    }
    .gift-content {
      position: fixed;
      background-color: rgba(235, 235, 235, 0.9);
      width: 600px;
      max-width: calc(100% - 30px);
      z-index: 999;
      top: 20%;
      text-align: center;
      left: 0;
      right: 0;
      margin: auto;
      transition: all .3s ease;
      transform: scale(0);
      visibility: hidden;
        opacity: 0;
    }
      .gift-content.active {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
      }
      .gift__content--wrapp {
        position: relative;
        padding: 40px 50px 60px;
      }
      @media(max-width:767px){
        .gift__content--wrapp {
          padding: 30px 20px 50px;
        }
      }
      .gift__Close {
        position: absolute;
        top: 10px;
        right: 10px;
      }
      .gift__Close svg {
        width: 18px;
        height: 18px;
        stroke-width: 1.5px;
      }
      .gift-title {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .gift-code {
        display: inline-block;
        background: #fff;
        padding: 5px 20px;
        font-weight: bold;
        font-size: 22px;
        margin-top: 25px;
        text-transform: uppercase;
      }
      .gift-box .open {
        display: none;
      }
      .gift-box.active .open {
        display: block;
      }
      .gift-box.active .layer-1,
      .gift-box.active .layer-2,
      .gift-box.active .layer-3 {
        display: none;
      }
      .gift-overlay {
        z-index: 998;
        display: none;
      }
      .gift-overlay.active {
        display: block;
      }
    </style>

      <div class="gift-box position-relative d-inline-block m-0 p-0" id="gift__box">
        <div class="anchor layer-1"><img src="{{'gift-box.png' | asset_img_url: 'master'}}" alt="" /></div>
        <div class="anchor layer-2"><img src="{{'gift-box.png' | asset_img_url: 'master'}}" alt="" /></div>
        <div class="anchor layer-3"><img src="{{'gift-box.png' | asset_img_url: 'master'}}" alt="" /></div>
        <div class="anchor open"><img src="{{'gift-box-open.png' | asset_img_url: 'master'}}" alt="" /></div>
        <div id="my-canvas position-absolute top-50 start-50 translate-middle"></div>
      </div>
     <div class="gift-content" id="gift__content">
      <div class="gift__content--wrapp">
        <button class="gift__Close p-0 border-0 bg-transparent" id="gift__Close">
            {%- render 'icons', icon: 'close' -%}
        </button>
        <h3 class="gift-title">{{ block.settings.product_gift_heading }}</h3>
        <div class="gift-text">{{ block.settings.product_gift_text }}</div>
       <div class="gift-code">{{ block.settings.product_gift_code }}</div>
      </div>
    </div>
      <div class="gift-overlay position-fixed top-0 start-0 w-100 h-100 bg-transparent"></div>
      <script>
    
    document.getElementById("gift__box").addEventListener("click", () => {
            var container = document.getElementById("gift__box");
            container.classList.add("active");
            var giftContent = document.getElementById("gift__content");
              giftContent.classList.add("active");
          document.getElementsByClassName("gift-overlay")[0].classList.add("active");
    (async () => {
      const canvas = document.getElementById("my-canvas");
      canvas.confetti =
        canvas.confetti || (await confetti.create(canvas, { resize: true }));
    
      canvas.confetti({
        particleCount: 500,
        spread: 90,
        origin: { y: 0.5 },
      });
    })();
      const count = 200,
      defaults = {
        origin: { y: 0.5 },
      };
    
    function fire(particleRatio, opts) {
      confetti(
        Object.assign({}, defaults, opts, {
          particleCount: Math.floor(count * particleRatio),
        })
      );
    }
    
    fire(0.25, {
      spread: 26,
      startVelocity: 55,
    });
    
    fire(0.2, {
      spread: 60,
    });
    
    fire(0.35, {
      spread: 100,
      decay: 0.91,
      scalar: 0.8,
    });
    
    fire(0.1, {
      spread: 120,
      startVelocity: 25,
      decay: 0.92,
      scalar: 1.2,
    });
    
    fire(0.1, {
      spread: 120,
      startVelocity: 45,
    });
            
    });
      document.getElementsByClassName("gift__Close")[0].addEventListener("click", () => {
            let container = document.getElementById("gift__box");
            container.classList.remove("active");
            let giftContent = document.getElementById("gift__content");
              giftContent.classList.remove("active");
          document.getElementsByClassName("gift-overlay")[0].classList.remove("active");
      });
    </script>
    </div>