<li class="main-menu__nav-item menu-dropdown{% if menu_link.active %} active{% endif %}">
	<a class="main-menu__link" href="{{ menu_link.url }}" title="{{ menu_link.title | strip_html }}"><span>{{ menu_link.title }}{% render 'icons', icon: 'angle-down', class: 'ms-1', attr: 'width="8" height="15"' %}</span></a>
	<div class="menu-dropdown__content menu-dropdown__content--megamenu mx-auto {{ block.settings.menu_align }}" {% if block.settings.menu_width != blank %}style="max-width: {{ block.settings.menu_width }}"{% endif %}>
		<div class="menu-row row gx-5">
			{%- if block.settings.menu -%}
				{%- if menu_link.links != blank -%}
				<div class="menu-row__col" style="order: {{ block.settings.menu_order }}; max-width: {{ block.settings.menu_col }}%">
					<div class="menu-row row gx-5">
					{%- for menu_link1 in menu_link.links -%}
						<div class="menu-row__col col-12" style="max-width:{{ block.settings.menu_menu_col}}%">
							<ul class="megamenu-links list-unstyled">
								<li class="megamenu-links__item megamenu-heading mb-2 pb-1">
									<a href="{{ menu_link1.url }}" title="{{ menu_link1.title | strip_html }}">
										{{ menu_link1.title }}
									</a>
								</li>
								{%- for menu_link2 in menu_link1.links -%}
									<li class="megamenu-links__item{% if menu_link2.active %} active{% endif %}">
										<a class="megamenu-links__link main-menu__link" href="{{ menu_link2.url }}" title="{{ menu_link2.title | strip_html }}"><span>{{ menu_link2.title }}</span></a>
									</li>
								{%- endfor -%}
							</ul>
						</div>
					{%- endfor -%}
					</div>
				</div>
				{%- endif -%}
			{%- endif -%}
			{%- if block.settings.products -%}
				<div class="menu-row__col col-12" style="order: {{ block.settings.products_order }}; max-width: {{ block.settings.products_col }}%">
				{%- assign block_title = block.settings.products_title -%}
				{%- assign collection_handle = block.settings.products_collection -%}
				{%- assign product_limit = block.settings.products_limit -%}
				<div class="megamenu-products">
					{%- if block_title != blank -%}
						<div class="megamenu-products__heading megamenu-heading pb-2"><span>{{ block_title }}</span></div>
					{%- endif -%}
					<div class="megamenu-products__list row g-3">
					{%- for product in collections[collection_handle].products limit: product_limit -%}
						{%- assign on_sale = false -%}
						{%- if product.compare_at_price > product.price -%}
						{%- assign on_sale = true -%}
						{%- endif -%}
						<div class="product-menu col-12">
							<div class="product-menu__image">
								<a class="product-menu__image-link" href="{{ product.url }}" title="">
									{%- assign hmenu_img_h = 90 | divided_by: product.featured_image.aspect_ratio -%}
									{{ product.featured_image | image_url: width: '90', height: '90', crop: 'center' | image_tag: loading: 'lazy', width: '90', height: '90', class: "img-fluid", alt: product.featured_image.alt | escape }}
								</a>
							</div>
							<div class="product-menu__content">
								<div class="product-menu__name line-clamp-2 py-1">
									<a class="effect-line" href="{{ product.url }}" title="{{ product.title | strip_html }}"><span>{{ product.title }}</span></a>
								</div>
								{%- if settings.product_reviews_enable and settings.product_card_review -%}
									<div class="product-card__review product-menu__review mb-1">
										<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
									</div>
								{%- endif -%}
								<div class="product-menu__price">
									<span class="product-price">{{ product.price | money }}</span>
									{% if on_sale %}
										<span class="product-price product-price--regular">{{ product.compare_at_price | money }}</span>
									{% endif %}
								</div>
							</div>
						</div>
					{%- endfor -%}
					</div>
				</div>
				</div>
			{%- endif -%}
			{%- if block.settings.html -%}
				<div class="menu-row__col col-12" style="order: {{ block.settings.html_order }}; max-width: {{ block.settings.html_col }}%">
				{%- assign block_title = block.settings.html_title -%}
				{%- assign block_html = block.settings.html_content -%}
				<div class="megamenu-html">
					{%- if block_title != blank -%}
						<div class="megamenu-html__heading megamenu-heading pb-2">
							<span>{{ block_title }}</span>
						</div>
					{%- endif -%}
					<div class="megamenu-html__content">{{ block_html }}</div>
				</div>
				</div>
			{%- endif -%}
			{%- if block.settings.banner -%}
				<div class="menu-row__col col-12" style="order: {{ block.settings.banner_order }}; max-width: {{ block.settings.banner_col }}%">
					<div class="megamenu-banner">
						<a href="{{ block.settings.banner_link }}">
						{%- if block.settings.image -%}
							{{ block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy', width: block.settings.image.width, height: block.settings.image.height, class: "img-fluid", alt: block.settings.image.alt | escape }}
						{%- else -%}
							{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
						{%- endif -%}
						</a>
					</div>
				</div>
			{%- endif -%}
			{%- if block.settings.collection_enable -%}
				<div class="megamenu-collection-list menu-row__col" style="order: {{ block.settings.collection_order }}; max-width: {{ block.settings.colllection_col }}%;">
					<div class="menu-row">
						{% if block.settings.collection_title != blank %}
							<div class="megamenu-heading"><span>{{ block.settings.collection_title }}</span></div>
						{% endif %}
						{%- if block.settings.collection_content != blank -%}
							<div class="megamenu-collection__content mb-3">{{ block.settings.collection_content }}</div>
						{%- endif -%}
						<div class="row g-3">
							{% for i in (1..10) %}
								{%- assign imagePlacdhold = "collection-" | append: forloop.index -%}
								{% assign listcollection = 'velamenu_list_collection' | append: forloop.index %}
								{% assign collectionTitle = block.settings[listcollection] %}
								{% if collectionTitle != blank %}
									<div class="col-12" style="max-width: {{ block.settings.colllection_col_item }}%;">
										<div class="collImage mb-3">
											<a class="d-block overflow-hidden" href="{{ collections[collectionTitle].url }}">
												{%- if collections[collectionTitle].image -%}
													{% render 'img-global', image: collections[collectionTitle].image %}
												{%- else -%}
													{{ imagePlacdhold | placeholder_svg_tag }}
												{%- endif -%}
											</a>
										</div>
										<h6 class="collTitle mb-0"><a class="position-relative effect-line" href="{{ collections[collectionTitle].url }}" title="{{ collections[collectionTitle].title | strip_html }}"><span class="position-relative">{{ collections[collectionTitle].title }}</span></a></h6>											
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			{%- endif -%}
		</div>
	</div>
</li>
