{%- if product_style == 'list' -%}
	{%- assign anumber = number | default: 4 -%}
	{%- for i in (1..anumber) -%}
		<div class="{% if strGridItem %}{{ strGridItem }}{% else %}slick-carousel__item{% endif %}">
			<div class="product-card  mb-3 product-list-style product-list__{{ product_style }} row g-3">
				<div class="col" style="max-width: 100px;">
					<div class="product-card__image-wrapper">
						<a class="product-card__image-link" href="/admin/products">
							{%- capture current -%}{% cycle 1, 2, 3, 4 %}{%- endcapture -%}
							{{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
						</a>
					</div>
				</div>
				<div class="col">
					<div class="product-card__content position-relative pt-1">
						<div class="product-card__name line-clamp-2 mb-1">
							<a href="/admin/products">Wooden container Bowl</a>
						</div>
						{%- if settings.product_reviews_enable and settings.product_card_review -%}
							<div class="product-card__review product-review">
								<div class="d-flex py-1">
									{% render 'icons', icon: 'star', class: 'icon-star text-color-light', attr: 'width="14" height="14"' %}
									{% render 'icons', icon: 'star', class: 'icon-star text-color-light', attr: 'width="14" height="14"' %}
									{% render 'icons', icon: 'star', class: 'icon-star text-color-light', attr: 'width="14" height="14"' %}
									{% render 'icons', icon: 'star', class: 'icon-star text-color-light', attr: 'width="14" height="14"' %}
									{% render 'icons', icon: 'star', class: 'icon-star text-color-light', attr: 'width="14" height="14"' %}
								</div>
							</div>
						{%- endif -%}
						<div class="product-card__price pb-1">
							<div class="product-group-price">
								<div class="product-price">$29.99</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{%- endfor -%}
{%- else -%}
	{%- assign product1_style = product_style | default: settings.product_style -%}
	{%- assign anumber = number | default: 8 -%}
	{%- for i in (1..anumber) -%}
	   	<div class="{% if strGridItem %}{{ strGridItem }}{% else %}slick-carousel__item{% endif %}">
			{%- if product1_style == 'style1' -%}
				<div class="product-card product-grid grid__{{ product1_style  }}">
					<div class="product-grid__inner">
						<div class="product-card__image-wrapper">
							<a class="product-card__image-link" href="/admin/products">
								{%- capture current -%}{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
								{{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
							</a>
							<div class="product-card__label position-absolute {{ settings.badge_position }}-0">
								{%- if settings.product_card_new -%}
									<span class="label-new position-relative"><span class="d-block overflow-hidden position-relative">{{ 'products.general.label_new' | t }}</span></span>
								{%- endif -%}
								{%- if forloop.index == 2 -%}
									<span class="label-on-sale position-relative"><span class="d-block overflow-hidden position-relative">-10%</span></span>		
								{%- endif -%}
								{%- if forloop.index == 4 -%}
									<span class="label-sold-out position-relative bg-warning heading-color"><span class="d-block overflow-hidden position-relative">{{ 'products.general.out_stock' | t }}</span></span>		
								{%- endif -%}
							</div>
							<div class="shop-action position-absolute">
								{%- if settings.quickview_enable -%}
									<a class="btn btn--action btn--quickview mb-2" href="/admin/products" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="{{ 'products.product.quickview' | t }}"  title="{{ 'products.product.quickview' | t }}">
										{% render 'icons', icon: 'eye-bold', attr: 'width="18" height="18"' %}
										<span class="d-none">{{ 'products.product.quickview' | t }}</span>
									</a>
								{%- endif -%}
								{%- if settings.product_wishlist and  settings.product_card_wishlist -%}
									<button type="button" aria-label="{{ 'products.product.wishlist' | t }}" class="btn--wishlist btn--action" data-product-handle="{{ product.handle }}" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="{{ 'products.product.add_to_wishlist' | t }}">
										{% render 'icons', icon: 'heart-bold', attr: 'width="18" height="18"' %}
									</button>
								{%- endif -%}
							</div>
						</div>
						<div class="product-card__content bg-white p-2 p-md-3">
							<div class="product-card__content--inner">
								{%- if settings.product_card_tag -%}
									<div class="product-card__tags">
										<a href="#">Digital</a>,
										<a href="/#">Electronics</a>
									</div>
								{% endif %}
								<div class="product-card__content--inner">
									<h6 class="product-card__name line-clamp-2 mb-1">
										<a class="line-title fw-normal" href="/admin/products">Sacrificial Chair Design</a>
									</h6>
									{%- if settings.product_reviews_enable and settings.product_card_review -%}
										<div class="product-card__review product-review mb-1">
											<div class="d-flex py-1">
												{% render 'icons', icon: 'star', class: 'icon-star text-color-light', attr: 'width="14" height="14"' %}
												{% render 'icons', icon: 'star', class: 'icon-star text-color-light', attr: 'width="14" height="14"' %}
												{% render 'icons', icon: 'star', class: 'icon-star text-color-light', attr: 'width="14" height="14"' %}
												{% render 'icons', icon: 'star', class: 'icon-star text-color-light', attr: 'width="14" height="14"' %}
												{% render 'icons', icon: 'star', class: 'icon-star text-color-light', attr: 'width="14" height="14"' %}
											</div>
										</div>
									{%- endif -%}
									{%- if settings.product_vendor_enable -%}
										<div class="product-card__vendor mb-1"><label>{{'products.general.label_vendor' | t }}</label>{{ 'AyoMart' | link_to_vendor }}</div>
									{%- endif -%}
									<div class="group-cart-price overflow-hidden">
										<div class="group-cart-price__inner d-flex{% unless forloop.index == 4 %} group-cart-price__effect{% endunless %}">
											<div class="product-group-price d-flex align-items-center ff-special w-100">
												<div class="product-price">$90.00</div>
												{%- if forloop.index == 2 -%}
													<div class="product-price product-price--regular ms-1"><span class="money">$100.00</span></div>
												{%- endif -%}
											</div>
											{%- if settings.product_card_addtocart -%}
												<div class="product-card__buttons w-100">
													<div class="product-card__form">
														{%- unless forloop.index == 4 -%}
															<a class="btn btn--add-to-cart" href="/admin/products">
																{% render 'icons', icon: 'plus', class: 'icon-cart', attr: 'width="8" height="8"' %}
																<span class="text">{{ 'products.product.add_to_cart' | t }}</span>
															</a>
														{%- endunless -%}
													</div>
												</div>
											{%- endif -%}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{%- elsif product1_style == 'style2' -%}
				<div class="product-card product-grid grid__{{ product1_style  }}">
					<div class="product-grid__inner">
						<div class="product-card__image-wrapper">
							<a class="product-card__image-link" href="/admin/products">
								{%- capture current -%}{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
								{{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
							</a>
							<div class="product-card__label position-absolute {{ settings.badge_position }}-0">
								{%- if settings.product_card_new -%}
									<span class="label-new position-relative"><span class="d-block overflow-hidden position-relative">{{ 'products.general.label_new' | t }}</span></span>
								{%- endif -%}
								{%- if forloop.index == 2 -%}
									<span class="label-on-sale position-relative"><span class="d-block overflow-hidden position-relative">-10%</span></span>		
								{%- endif -%}
								{%- if forloop.index == 4 -%}
									<span class="label-sold-out position-relative bg-warning heading-color"><span class="d-block overflow-hidden position-relative">{{ 'products.general.out_stock' | t }}</span></span>		
								{%- endif -%}
							</div>
							<div class="shop-action position-absolute">
								{%- if settings.quickview_enable -%}
									<a class="btn btn--action btn--quickview mb-1" href="/admin/products" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="{{ 'products.product.quickview' | t }}"  title="{{ 'products.product.quickview' | t }}">
										{% render 'icons', icon: 'eye-bold', attr: 'width="18" height="18"' %}
										<span class="d-none">{{ 'products.product.quickview' | t }}</span>
									</a>
								{%- endif -%}
								{%- if settings.product_wishlist and  settings.product_card_wishlist -%}
									<button type="button" aria-label="{{ 'products.product.wishlist' | t }}" class="btn--wishlist btn--action mb-1" data-product-handle="{{ product.handle }}" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="{{ 'products.product.add_to_wishlist' | t }}">
										{% render 'icons', icon: 'heart-bold', attr: 'width="18" height="18"' %}
									</button>
								{%- endif -%}
								{%- if settings.product_card_addtocart -%}
									<div class="product-card__buttons w-100">
										<div class="product-card__form">
											{%- unless forloop.index == 4 -%}
												<a class="btn btn--add-to-cart btn--action" href="/admin/products">
													{% render 'icons', icon: 'cart', class: 'icon-cart', attr: 'width="18" height="18"' %}
													<span class="text d-none">{{ 'products.product.add_to_cart' | t }}</span>
												</a>
											{%- endunless -%}
											
										</div>
									</div>
								{%- endif -%}
							</div>
						</div>
						<div class="product-card__content mt-lg-1 pt-2">
							<div class="product-card__content--inner">
								{%- if settings.product_card_tag -%}
									<div class="product-card__tags">
										<a href="#">Digital</a>,
										<a href="/#">Electronics</a>
									</div>
								{% endif %}
								<div class="product-card__content--inner">
									<h6 class="product-card__name line-clamp-2 mb-1">
										<a class="line-title fw-normal" href="/admin/products">Sacrificial Chair Design</a>
									</h6>
									{%- if settings.product_vendor_enable -%}
										<div class="product-card__vendor mb-1"><label>{{'products.general.label_vendor' | t }}</label>{{ 'AyoMart' | link_to_vendor }}</div>
									{%- endif -%}
									<div class="group-cart-price d-flex flex-wrap align-items-center justify-content-between">
										<div class="group-cart-price__inner d-flex">
											<div class="product-group-price d-flex align-items-center ff-special w-100">
												<div class="product-price">$90.00</div>
												{%- if forloop.index == 2 -%}
													<div class="product-price product-price--regular ms-1"><span class="money">$100.00</span></div>
												{%- endif -%}
											</div>
										</div>
										{%- if settings.product_reviews_enable and settings.product_card_review -%}
											<div class="product-card__review product-review mb-1">
												<div class="d-flex py-1">
													{% render 'icons', icon: 'star', class: 'icon-star text-color-light', attr: 'width="14" height="14"' %}
													{% render 'icons', icon: 'star', class: 'icon-star text-color-light', attr: 'width="14" height="14"' %}
													{% render 'icons', icon: 'star', class: 'icon-star text-color-light', attr: 'width="14" height="14"' %}
													{% render 'icons', icon: 'star', class: 'icon-star text-color-light', attr: 'width="14" height="14"' %}
													{% render 'icons', icon: 'star', class: 'icon-star text-color-light', attr: 'width="14" height="14"' %}
												</div>
											</div>
										{%- endif -%}
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			{%- elsif product1_style == 'style3'-%}
				<div class="product-card product-grid grid__{{ product1_style  }}">
					<div class="product-grid__inner">
						<div class="product-card__image-wrapper">
							<a class="product-card__image-link" href="/admin/products">
								{%- capture current -%}{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
								{{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
							</a>
							<div class="product-card__label position-absolute {{ settings.badge_position }}-0">
								{%- if settings.product_card_new -%}
									<span class="label-new position-relative"><span class="d-block overflow-hidden position-relative">{{ 'products.general.label_new' | t }}</span></span>
								{%- endif -%}
								{%- if forloop.index == 2 -%}
									<span class="label-on-sale position-relative"><span class="d-block overflow-hidden position-relative">-10%</span></span>		
								{%- endif -%}
								{%- if forloop.index == 4 -%}
									<span class="label-sold-out position-relative bg-warning heading-color"><span class="d-block overflow-hidden position-relative">{{ 'products.general.out_stock' | t }}</span></span>		
								{%- endif -%}
							</div>
							<div class="shop-action position-absolute">
								{%- if settings.quickview_enable -%}
									<a class="btn btn--action btn--quickview mb-1" href="/admin/products" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="{{ 'products.product.quickview' | t }}"  title="{{ 'products.product.quickview' | t }}">
										{% render 'icons', icon: 'eye-bold', attr: 'width="18" height="18"' %}
										<span class="d-none">{{ 'products.product.quickview' | t }}</span>
									</a>
								{%- endif -%}
								{%- if settings.product_wishlist and  settings.product_card_wishlist -%}
									<button type="button" aria-label="{{ 'products.product.wishlist' | t }}" class="btn--wishlist btn--action mb-2" data-product-handle="{{ product.handle }}" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="{{ 'products.product.add_to_wishlist' | t }}">
										{% render 'icons', icon: 'heart-bold', attr: 'width="18" height="18"' %}
									</button>
								{%- endif -%}
							</div>
							{%- if settings.product_card_addtocart -%}
								<div class="product-card__buttons w-100">
									<div class="product-card__form">
										{%- unless forloop.index == 4 -%}
											<a class="btn btn--add-to-cart text-uppercase" href="/admin/products">
												{% render 'icons', icon: 'cart', class: 'icon-cart d-none', attr: 'width="18" height="18"' %}
												<span class="text">{{ 'products.product.add_to_cart' | t }}</span>
											</a>
										{%- endunless -%}
									</div>
								</div>
							{%- endif -%}
						</div>
						<div class="product-card__content mt-lg-1 pt-2">
							<div class="product-card__content--inner">
								{%- if settings.product_card_tag -%}
									<div class="product-card__tags">
										<a href="#">Digital</a>,
										<a href="/#">Electronics</a>
									</div>
								{% endif %}
								<div class="product-card__content--inner">
									<h6 class="product-card__name line-clamp-2 mb-1">
										<a class="line-title fw-normal" href="/admin/products">Sacrificial Chair Design</a>
									</h6>
									{%- if settings.product_vendor_enable -%}
										<div class="product-card__vendor mb-1"><label>{{'products.general.label_vendor' | t }}</label>{{ 'AyoMart' | link_to_vendor }}</div>
									{%- endif -%}
									<div class="product-group-price d-flex align-items-center ff-special w-100">
										<div class="product-price">$90.00</div>
										{%- if forloop.index == 2 -%}
											<div class="product-price product-price--regular ms-1"><span class="money">$100.00</span></div>
										{%- endif -%}
									</div>
									{%- if settings.product_reviews_enable and settings.product_card_review -%}
										<div class="product-card__review product-review">
											<div class="d-flex py-1">
												{% render 'icons', icon: 'star', class: 'icon-star text-color-light', attr: 'width="14" height="14"' %}
												{% render 'icons', icon: 'star', class: 'icon-star text-color-light', attr: 'width="14" height="14"' %}
												{% render 'icons', icon: 'star', class: 'icon-star text-color-light', attr: 'width="14" height="14"' %}
												{% render 'icons', icon: 'star', class: 'icon-star text-color-light', attr: 'width="14" height="14"' %}
												{% render 'icons', icon: 'star', class: 'icon-star text-color-light', attr: 'width="14" height="14"' %}
											</div>
										</div>
									{%- endif -%}
								</div>
							</div>
						</div>
					</div>
				</div>
			{%- else -%}
				<div class="product-card product-grid grid__{{ product1_style  }}">
					<div class="product-grid__inner">
						<div class="product-card__image-wrapper">
							<a class="product-card__image-link" href="/admin/products">
								{%- capture current -%}{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
								{{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
							</a>
							<div class="product-card__label position-absolute {{ settings.badge_position }}-0">
								{%- if settings.product_card_new -%}
									<span class="label-new position-relative"><span class="d-block overflow-hidden position-relative">{{ 'products.general.label_new' | t }}</span></span>
								{%- endif -%}
								{%- if forloop.index == 2 -%}
									<span class="label-on-sale position-relative"><span class="d-block overflow-hidden position-relative">-10%</span></span>		
								{%- endif -%}
								{%- if forloop.index == 4 -%}
									<span class="label-sold-out position-relative bg-warning heading-color"><span class="d-block overflow-hidden position-relative">{{ 'products.general.out_stock' | t }}</span></span>		
								{%- endif -%}
							</div>
							<div class="shop-action position-absolute">
								{%- if settings.product_wishlist and  settings.product_card_wishlist -%}
									<button type="button" aria-label="{{ 'products.product.wishlist' | t }}" class="btn--wishlist btn--action mb-2" data-product-handle="{{ product.handle }}" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="{{ 'products.product.add_to_wishlist' | t }}">
										{% render 'icons', icon: 'heart', attr: 'width="18" height="18"' %}
									</button>
								{%- endif -%}
								{%- if settings.quickview_enable -%}
									<a class="btn btn--action btn--quickview" href="/admin/products" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="{{ 'products.product.quickview' | t }}"  title="{{ 'products.product.quickview' | t }}">
										{% render 'icons', icon: 'search', attr: 'width="22" height="22"' %}
										<span class="d-none">{{ 'products.product.quickview' | t }}</span>
									</a>
								{%- endif -%}
							</div>
						</div>
						<div class="product-card__content mt-lg-1 pt-2">
							<div class="product-card__content--inner">
								{%- if settings.product_card_tag -%}
									<div class="product-card__tags">
										<a href="#">Digital</a>,
										<a href="/#">Electronics</a>
									</div>
								{% endif %}
								<div class="product-card__content--inner">
									<h6 class="product-card__name line-clamp-2 mb-1">
										<a class="line-title fw-normal" href="/admin/products">Sacrificial Chair Design</a>
									</h6>
									{%- if settings.product_reviews_enable and settings.product_card_review -%}
										<div class="product-card__review product-review mb-1">
											<div class="d-flex py-1">
												{% render 'icons', icon: 'star', class: 'icon-star text-color-light', attr: 'width="14" height="14"' %}
												{% render 'icons', icon: 'star', class: 'icon-star text-color-light', attr: 'width="14" height="14"' %}
												{% render 'icons', icon: 'star', class: 'icon-star text-color-light', attr: 'width="14" height="14"' %}
												{% render 'icons', icon: 'star', class: 'icon-star text-color-light', attr: 'width="14" height="14"' %}
												{% render 'icons', icon: 'star', class: 'icon-star text-color-light', attr: 'width="14" height="14"' %}
											</div>
										</div>
									{%- endif -%}
									{%- if settings.product_vendor_enable -%}
										<div class="product-card__vendor mb-1"><label>{{'products.general.label_vendor' | t }}</label>{{ 'AyoMart' | link_to_vendor }}</div>
									{%- endif -%}
									<div class="group-cart-price overflow-hidden">
										<div class="group-cart-price__inner d-flex{% unless forloop.index == 4 %} group-cart-price__effect{% endunless %}">
											<div class="product-group-price d-flex align-items-center ff-special w-100">
												<div class="product-price">$90.00</div>
												{%- if forloop.index == 2 -%}
													<div class="product-price product-price--regular ms-1"><span class="money">$100.00</span></div>
												{%- endif -%}
											</div>
											{%- if settings.product_card_addtocart -%}
												<div class="product-card__buttons w-100">
													<div class="product-card__form">
														{%- unless forloop.index == 4 -%}
															<a class="btn btn--add-to-cart" href="/admin/products">
																{% render 'icons', icon: 'plus', class: 'icon-cart', attr: 'width="8" height="8"' %}
																<span class="text">{{ 'products.product.add_to_cart' | t }}</span>
															</a>
														{%- endunless -%}
													</div>
												</div>
											{%- endif -%}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{%- endif -%}
		</div>
	{%- endfor -%}
{%- endif -%}
