{%- assign total_active_values = 0 -%}
<facet-filters-form class="product-filter">
    <form id="CollectionFiltersForm" class="product-filter__form">
        <div class="product-filter__wrapper">
            {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
            <input type="hidden" name="sort_by" value="{{ sort_by }}" />
            {%- if template.suffix != blank -%}
                <input type="hidden" name="view" value="{{ template.suffix }}" />
            {%- endif -%}
            {%- assign color_label = settings.product_cart_swatch_label | split: ',' -%}
            {%- for filter in collection.filters -%}
                {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
                {% case filter.type %}
                {% when 'list' %}
                    <div class="block-sidebar {% unless forloop.first %}pt-sm-4 pt-3 mt-3{% endunless %} js-filter" data-index="{{ forloop.index }}">
                        <h5 class="block-sidebar__title mb-2 pb-1 product-filter__title position-relative">
                            {{ block.settings.filter_title }} {{ filter.label | escape | downcase }}
                            <span class="facets__selected no-js-hidden">{%- if filter.active_values.size > 0 -%}{{ filter.active_values.size }}{%- endif -%}</span>
                            <facet-remove class="position-absolute">
                                <a href="{{ filter.url_to_remove }}" class="facets__reset link--text">
                                    {{ 'sections.collection_template.reset' | t }}
                                </a>
                            </facet-remove>
                        </h5>
                        <div id="filter{{ forloop.index }}" class="block-sidebar__content product-filter__content">
                            <div class="block-sidebar__content--inner mt-2 pt-1{% unless block.settings.filter_style == "filter_inline"%} oveflow-auto-y{% endunless %}">
                                {%- assign option_downcased = filter.label | downcase -%}
                                {%- assign isColor = false -%}
                                {%- if color_label contains option_downcased -%}
                                    {%- assign isColor = true -%}
                                {% endif %}
                                <ul class="facets__list list-unstyled {{ block.settings.filter_style }} m-0" >
                                    {%- for value in filter.values -%}
                                        <li class="list-menu__item facets__item position-relative">
                                            <label for="Filter-{{ filter.label | escape }}-{{ forloop.index }}" class="facet-checkbox{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}{% if isColor %} facet-checkbox--color{% endif %}">
                                                <input type="checkbox"
                                                name="{{ value.param_name }}"
                                                value="{{ value.value }}"
                                                id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                                                {% if value.active %}checked{% endif %}
                                                {% if value.count == 0 and value.active == false %}disabled{% endif %}
                                                >
                                                {%- if isColor -%}
                                                    {%- assign color_swatch_name = value.label | handleize | append: '.png' -%}
                                                    {%- assign color_swatch_image = images[color_swatch_name] -%}
                                                    <span class="d-flex rounded-circle overflow-hidden position-relative color-box{% if block.settings.filter_style == "filter_list" %} me-2{% endif %}" style="background-color:{{- value.label | handleize | replace: "-", "" -}};{%- if color_swatch_image != blank -%}background-image: url({{ color_swatch_name | file_url }}); background-size: cover;{%- endif -%}">
                                                    </span>
                                                    {%- if block.settings.filter_style == "filter_inline" -%}
                                                        <div class="tooltip bs-tooltip-top start-50 translate-middle-x" role="tooltip">
                                                            <div class="tooltip-arrow start-50 translate-middle-x"></div>
                                                            <div class="tooltip-inner">
                                                                {{- value.label | escape -}}
                                                            </div>
                                                        </div>
                                                    {%- endif -%}
                                                {%- endif -%}
                                                <span class="text">{{- value.label | escape -}}</span>
                                                {%- if block.settings.filter_style == "filter_list" -%}
                                                    {% unless isColor %}
                                                        {%- render 'icons', icon: 'circle', class: 'icon circle me-2', attr: "width=18 height=18" -%}
                                                        {%- render 'icons', icon: 'check-circle', class: 'icon check-circle me-2', attr: "width=18 height=18" -%}
                                                    {%- endunless -%}
                                                    <span class="number-item">({{ value.count }})</span>
                                                {%- endif -%}
                                            </label>
                                        </li>
                                    {%- endfor -%}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% when 'price_range' %}
                    <div class="block-sidebar {% unless forloop.first %}pt-sm-4 pt-3 mt-3{% endunless %}" data-index="{{ forloop.index }}">
                        <h5 class="block-sidebar__title position-relative mb-2 pb-1">
                            {{ block.settings.filter_title }} {{ filter.label | escape | downcase }}
                        </h5>
                        <div id="filter{{ forloop.index }}" class="product-filter-price__content pt-1">
                            <div class="mt-0">
                                {%- liquid
                                    assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
                                    assign uses_comma_decimals = false
                                    if currencies_using_comma_decimals contains cart.currency.iso_code
                                        assign uses_comma_decimals = true
                                    endif
                              -%}
                                <price-range class="facets__price position-relative d-block me-2">
                                    {%- if uses_comma_decimals -%}
                                        {%- assign max_price_amount = filter.range_max | plus: 1 | money_without_currency | replace: '.', '' | split: ',' | first | remove: ' ' -%}
                                    {%- else -%}
                                        {%- assign max_price_amount = filter.range_max | plus: 1 | money_without_currency | replace: ',', '' | split: '.' | first | remove: ' ' -%}
                                    {%- endif -%}
                                    {%- if uses_comma_decimals -%}
                                        {%- if filter.max_value.value -%}
                                            {%- assign range_max = filter.max_value.value | money_without_currency | replace: '.', '' | split: ',' | first -%}
                                        {%- endif -%}
                                        {%- if filter.min_value.value -%}
                                            {% assign range_min =  filter.min_value.value | money_without_currency | replace: '.', '' | split: ',' | first %}
                                        {%- endif -%}
                                    {%- else -%}
                                        {%- assign range_max = filter.max_value.value | money_without_currency | replace: ',', '' | split: '.' | first -%}
                                        {%- if filter.min_value.value -%}
                                            {% assign range_min = filter.min_value.value | money_without_currency | replace: ',', ''  | split: '.' | first %}
                                        {%- endif -%}
                                    {%- endif -%}
                                    <div class="d-none djustify-content-between align-items-center mb-3">
                                        <div class="col position-relative">
                                            <span class="prefix position-absolute top-50 start-0 translate-middle-y ms-1 text-color-light">{{ cart.currency.symbol }}</span>
                                            <input class="text-end w-100 px-2" id="min_price"
                                            name="{{ filter.min_value.param_name }}"
                                            id="Filter-{{ filter.label | escape }}-GTE"
                                            {%- if filter.min_value.value -%}
                                                value ="{{ range_min }}"
                                            {%- endif -%}
                                            type="number"
                                            placeholder="0"
                                            min="0"
                                            max="{{ max_price_amount }}"
                                            />
                                        </div>
                                        <div class="col position-relative text-center">{{ 'sections.collection_template.to' | t }}</div>
                                        <div class="col position-relative">
                                            <span class="prefix position-absolute top-50 start-0 translate-middle-y ms-1 text-color-light">{{ cart.currency.symbol }}</span>
                                            <input  id="max_price" class="text-end w-100 px-2"
                                            name="{{ filter.max_value.param_name }}"
                                            id="Filter-{{ filter.label | escape }}-LTE"
                                            value="{{ range_max }}"
                                            type="number"
                                            min="0"
                                            placeholder="{{ max_price_amount }}"
                                            max="{{ max_price_amount }}"
                                            />
                                        </div>
                                    </div>
                                    <div class="price-slider-range">   
                                        <div id="slider-range" class="price-filter-range" name="rangeInput" data-min="0" data-prefix="{{ cart.currency.symbol }}" data-max="{{ max_price_amount }}"></div>
                                    </div>
                                </price-range>
                            </div>
                        </div>
                    </div>
                {% endcase %}
            {%- endfor -%}
        </div>
        {%- if collection.current_vendor or collection.current_type -%}
            <input type="hidden" name="q" value="{{ collection.current_vendor }}{{ collection.current_type }}">
        {%- endif -%}
    </form>
</facet-filters-form>