<div class="social-sharing d-flex align-items-center {{ social_sharing_position }}">
	{%- if share_label != blank -%}
  		<label class="social-sharing_title me-2">{{ share_label }}:</label>
	{%- endif -%}
  	<ul class="list-social d-flex list-unstyled m-0">
		{%- if settings.share_twitter -%}
			<li class="list-social__item me-1 pe-1">
				<a
					class="list-social__link list-social__twitter"
					href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}"
					target="_blank"
					rel="noreferrer"
					title="{{ 'general.social.alt_text.share_on_twitter' | t }}"
					data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ 'general.social.alt_text.share_on_twitter' | t }}"
				>
					{% render 'icons', icon: 'twitter', class: 'icon icon-twitter' , attr: 'width="14" height="14"' %}
					<span class="visually-hidden visually-hidden--inline">{{ 'general.social.alt_text.share_on_twitter' | t }}</span>
					<span class="visually-hidden visually-hidden--inline">{{ 'accessibility.link_messages.new_window' | t }}</span>
				</a>
			</li>
		{%- endif -%}
		{%- if settings.share_facebook -%}
			<li class="list-social__item me-1 pe-1">
				<a
					class="list-social__link list-social__facebook"
					href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}"
					target="_blank"
					rel="noreferrer"
					title="{{ 'general.social.alt_text.share_on_facebook' | t }}"
					data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ 'general.social.alt_text.share_on_facebook' | t }}"
				>
					{% render 'icons', icon: 'facebook', class: 'icon icon-facebook', attr: 'width="14" height="14"' %}

					<span class="visually-hidden visually-hidden--inline">{{ 'general.social.alt_text.share_on_facebook' | t }}</span>
					<span class="visually-hidden visually-hidden--inline">{{ 'accessibility.link_messages.new_window' | t }}</span>
				</a>
			</li>
		{%- endif -%}
      	{%- if settings.share_pinterest -%}
			<li class="list-social__item me-1 pe-1">
				<a
					class="list-social__link list-social__pinterest"
					href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}"
					target="_blank"
					rel="noreferrer"
					title="{{ 'general.social.alt_text.share_on_pinterest' | t }}"
					data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ 'general.social.alt_text.share_on_pinterest' | t }}"
				>
					{% render 'icons', icon: 'pinterest', class: 'icon icon-pinterest', attr: 'width="14" height="14"' %}
					<span class="visually-hidden visually-hidden--inline">{{ 'general.social.alt_text.share_on_pinterest' | t }}</span>
					<span class="visually-hidden visually-hidden--inline">{{ 'accessibility.link_messages.new_window' | t }}</span>
				</a>
			</li>
      	{%- endif -%}
		{%- if settings.share_linkedin -%}
			<li class="list-social__item me-1 pe-1">
				<a
					class="list-social__link list-social__linkedint"
					href="//linkedin.com/shareArticle?mini=true&url={{ shop.url | append: share_permalink }}&amp;title={{ share_title }}"
					target="_blank"
					rel="noreferrer"
					title="{{ 'general.social.alt_text.share_on_linkedin' | t }}"
					data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ 'general.social.alt_text.share_on_linkedin' | t }}"
				>
					{% render 'icons', icon: 'linkedin', class: 'icon icon-linkedin', attr: 'width="16" height="16"' %}
					<span class="visually-hidden visually-hidden--inline">{{ 'general.social.alt_text.share_on_linkedin' | t }}</span>
					<span class="visually-hidden visually-hidden--inline">{{ 'accessibility.link_messages.new_window' | t }}</span>
				</a>
			</li>
      	{%- endif -%}
		{%- if settings.share_email -%}
			<li class="list-social__item">
				<a
					class="list-social__link list-social__email"
					href="mailto:?subject={{ share_title }}&amp;body={{ shop.url | append: share_permalink }}"
					rel="noreferrer"
					title="{{ 'general.social.alt_text.share_on_email' | t }}"
					data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ 'general.social.alt_text.share_on_email' | t }}"
				>
					{% render 'icons', icon: 'email', class: 'icon icon-email', attr: 'width="20" height="16"' %}
					<span class="visually-hidden visually-hidden--inline">{{ 'general.social.alt_text.share_on_email' | t }}</span>
					<span class="visually-hidden visually-hidden--inline">{{ 'accessibility.link_messages.new_window' | t }}</span>
				</a>
			</li>
      	{%- endif -%}
    </ul>
</div>