<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

		{% if settings.favicon != blank %}
			<link rel="icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" type="image/png">
			<!-- iPad icons -->
			<link rel="apple-touch-icon-precomposed" href="{{ settings.favicon | image_url: width: 48, height: 48 }}" type="image/png">
			<link rel="nokia-touch-icon" href="{{ settings.favicon | image_url: width: 48, height: 48 }}" type="image/png">
		{% endif %}

		{%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
		<link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}
		{%- if settings.type_header_font_select == 'google_header_fonts' or settings.type_body_font_select == 'google_body_fonts' or settings.type_special_type == 'google_fonts' -%}
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			{%- if settings.type_header_google_font != blank -%}
				<link href="{{ settings.type_header_google_font }}" rel="stylesheet">
			{%- endif -%}
			{%- if settings.type_body_google_font != blank -%}
				<link href="{{ settings.type_body_google_font }}" rel="stylesheet">
			{%- endif -%}
			{%- if settings.type_special_link != blank -%}
				<link href="{{ settings.type_special_link }}" rel="stylesheet">
			{%- endif -%}
		{%- endif -%}
    
    <title>{{ shop.name }}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}
    {% include 'header-styles' %}
    {% include 'header-javascript' %}
    {{ content_for_header }}

    {%- liquid
			unless settings.type_header_font_select == 'google_header_fonts'
				assign header_font_light = settings.type_header_font | font_modify: 'weight', '300'
				if settings.type_header_font.weight == 500
					assign header_font_semibold = settings.type_header_font | font_modify: 'weight', '600'
				else 
					assign header_font_medium = settings.type_header_font | font_modify: 'weight', '500'
					assign header_font_semibold = settings.type_header_font | font_modify: 'weight', '600'
				endif
			endunless
			unless settings.type_body_font_select == 'google_body_fonts'
				if settings.type_body_font.weight == 300
					assign body_font_light = settings.type_body_font | font_modify: 'weight', '400'
				else 
					assign body_font_light = settings.type_body_font | font_modify: 'weight', '300'
				endif
			endunless
		%}
    {% render 'css-variables' %}
    {{ 'section-password.css' | asset_url | stylesheet_tag }}

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
				
</head>
	<body class="password-page">
		<main id="MainContent" class="password-main">
			{{ content_for_layout }}
		</main>
		{% include 'footer-javascript' %}
	</body>
</html>
