{%- capture section_style -%}
    {%- if section.settings.max_with != blank -%}
        --st-mx-w: {{ section.settings.max_with }};
    {%- endif -%}
    {%- if section.settings.color_bg != 'rgba(0,0,0,0)' -%}
        --st-bg-cl: {{ section.settings.color_bg }};
    {%- endif -%}
    {%- if section.settings.padding_block != blank -%}
       --st-pd-dt: {{ section.settings.padding_block }};
    {%- endif -%}
    {%- if section.settings.padding_block_m != blank -%}
       --st-pd-mb: {{ section.settings.padding_block_m }};
    {%- endif -%}
    {%- if section.settings.margin_block != blank -%}
        --st-mg: {{ section.settings.margin_block }};
    {%- endif -%}
    {%- if section.settings.image_bg != blank -%}
        --st-bg-img: url({{ section.settings.image_bg | image_url: width: section.settings.image_bg.width }});     
    {%- endif -%}
{%- endcapture -%}
<div id="background-parallax-{{ section.id }}" class="vela-section background-parallax overflow-hidden" {% if section_style %}style="{{ section_style }}"{% endif %}>                                  
    <div class="container{% if section.settings.full_with %}-full{% endif %}">
        <div class="background-parallax__inner text-{{ section.settings.text_align }}">
            {%- for block in section.blocks -%}
                {%- case block.type -%}
                    {%- when 'text' -%}
                        {%- if block.settings.text != blank -%}
                            {%- capture bgp_t -%}
                                --bgp-t-cl: {{- block.settings.text_color_desktop -}}; --bgp-t-fs: {{- block.settings.text_font_size_desktop -}}px;
                                {%- if block.settings.margin_desktop != blank -%}
                                    --bgp-t-mg:{{- block.settings.margin_desktop -}};
                                {%- endif -%} --bgp-t-cl-l: {{- block.settings.text_color_tablet -}};--bgp-t-fs-l: {{- block.settings.text_font_size_tablet -}}px;
                                {%- if block.settings.margin_tablet != blank -%}
                                    --bgp-t-mg-l:{{- block.settings.margin_tablet -}};
                                {%- endif -%}
                                --bgp-t-cl-m: {{- block.settings.text_color_mobile -}}; --bgp-t-fs-m: {{- block.settings.text_font_size_mobile -}}px;
                                {%- if block.settings.margin_mobile != blank -%}
                                    --bgp-t-mg-m:{{- block.settings.margin_mobile -}};
                                {%- endif -%}
                                
                            {%- endcapture -%}
                            <div class="background-parallax__text {{ block.settings.text_style }} {% unless block.settings.text_style == 'text' %}lh-1{%endunless%}" style="{{ bgp_t }}">{{ block.settings.text }}</div>
                        {%- endif -%}
                    {%- when 'button' -%}
                        {%- if block.settings.button != blank -%}
                            {%- capture bgp_bt -%}
                                --bgp-b-cl: {{- block.settings.button_color -}}; --bgp-b-fs: {{- block.settings.button_font_size -}}px;
                                {%- if block.settings.button_padding != blank -%}
                                    --bgp-b-pd: {{- block.settings.button_padding -}};
                                {%- endif -%}
                                {%- if block.settings.margin != blank -%}
                                    --bgp-b-mg: {{- block.settings.margin -}};
                                {%- endif -%}
                                --bgp-b-bd-cl: {{- block.settings.button_color_border -}};--bgp-b-bg-cl: {{- block.settings.button_color_bg -}};--bgp-b-cl-h: {{- block.settings.button_color_hover -}};--bgp-b-bd-cl-h: {{- block.settings.button_color_border_hover -}};--bgp-b-bg-cl-h: {{- block.settings.button_color_bg_hover -}};--bgp-b-fs-m: {{- block.settings.button_font_size_mobile -}}px;
                                {%- if block.settings.button_padding_mobile != blank -%}
                                    --bgp-b-pd-m: {{- block.settings.button_padding_mobile -}};
                                {%- endif -%}
                                
                            {%- endcapture -%}
                            <a class="btn background-parallax__btn" href="{{ block.settings.link }}" style="{{- bgp_bt -}}">{{ block.settings.button }}</a>                 
                        {%- endif -%}
                    {%- when 'image' -%}
                        {%- if block.settings.image != blank -%}
                            <div class="background-parallax__image" {% if block.settings.margin != blank %}style="margin: {{ block.settings.margin }};"{% endif %}>
                                <span class="d-inline-block">
                                    {%- assign bgp_img_h = block.settings.width | divided_by: block.settings.image.aspect_ratio -%}
                                    <img class="img-fluid" src="{{ block.settings.image | image_url: width: block.settings.width }}" loading="lazy" width="{{ block.settings.width }}" height="{{ bgp_img_h }}" alt="{{ block.settings.image.alt | escape }}" />
                                </span>
                            </div>                 
                        {%- endif -%}
                {%- endcase -%}
            {%- endfor -%}
        </div>
    </div>
</div>
{% schema %}
{
    "name": "Background Parallax",
    "tag": "section",
    "class": "velaFramework",
    "disabled_on": {
        "groups": ["header", "footer"]
    },
    "settings":[
        {
            "type": "header",
            "content": "t:sections.global.settings.header_section.content"
        },
        {
            "type": "checkbox",
            "id": "full_with",
            "label": "t:sections.global.settings.full_width.label"
        },
        {
            "type": "text",
            "id": "max_with",
            "label": "t:sections.global.settings.max_with.label",
            "info": "t:sections.global.settings.max_with.info"
        },
        {
            "type": "color",
            "id": "color_bg",
            "label": "t:sections.global.settings.bg_color.label",
            "default": "rgba(0,0,0,0)"
        },
        {
            "type": "text",
            "id": "padding_block",
            "label": "t:sections.global.settings.padding.label",
            "placeholder": "0px 0px",
            "info": "t:sections.global.settings.padding.info"
        },
        {
            "type": "text",
            "id": "padding_block_m",
            "label": "t:sections.global.settings.padding_mobile.label",
            "placeholder": "0px 0px",
            "info": "t:sections.global.settings.padding_mobile.info"
        },
        {
            "type": "text",
            "id": "margin_block",
            "label": "t:sections.global.settings.margin.label",
            "placeholder": "0px 0px"
        },
        {
            "type": "header",
            "content": "t:sections.global.settings.header_settings.content"
        },
        {
            "type": "image_picker",
            "id": "image_bg",
            "label": "Background Image"
        },
        {
            "type": "select",
            "id": "text_align",
            "label": "Text Alignment",
            "default": "start",
            "options": [
                {
                    "value": "start",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "end",
                    "label": "Right"
                }
            ]
        }
    ],
      "blocks": [
        {
            "type": "image",
            "name": "Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "image"
                }, 
                {
                    "type": "range",
                    "id": "width",
                    "min": 100,
                    "max": 550,
                    "step": 5,
                    "unit": "px",
                    "label": "Max Width",
                    "default": 100
                },                   
                {
                    "type": "text",
                    "id": "margin",
                    "label": "Margin",
                    "info": "Ex: 10px 10px 10px 10px"
                }
            ]
        },
        {
            "type": "text",
            "name": "Text",
            "settings": [
                {
                    "type": "html",
                    "id": "text",
                    "label": "Text",
                    "default": "<div><p>Use HTML to format your text so it can be easily read.<br/>This text can be used to share information about your brand with customers.</p></div>"
                },
                {
                    "type": "select",
                    "id": "text_style",
                    "label": "Text style",
                    "default": "text",
                    "options": [
                        {
                            "value": "text",
                            "label": "Text"
                        },
                        {
                            "value": "h3",
                            "label": "Heading"
                        },
                        {
                            "value": "ff-special",
                            "label": "Special"
                        }
                    ]
                },
                {
                    "type": "header",
                    "content": "Config for desktop"
                },
                {
                    "type": "color",
                    "id": "text_color_desktop",
                    "label": "Color",
                    "default": "#000000"
                },
                {
                    "type": "range",
                    "id": "text_font_size_desktop",
                    "min": 10,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "label": "Font size",
                    "default": 16
                },
                {
                    "type": "text",
                    "id": "margin_desktop",
                    "label": "Margin",
                    "info": "Ex: 10px 10px 10px 10px"
                },
                {
                    "type": "header",
                    "content": "Config for Tablets"
                },
                {
                    "type": "color",
                    "id": "text_color_tablet",
                    "label": "Color",
                    "default": "#000000"
                },
                {
                    "type": "range",
                    "id": "text_font_size_tablet",
                    "min": 10,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "label": "Font size",
                    "default": 16
                },
                {
                    "type": "text",
                    "id": "margin_tablet",
                    "label": "Margin",
                    "info": "Ex: 10px 10px 10px 10px"
                },
                {
                    "type": "header",
                    "content": "Config for Mobile"
                },
                {
                    "type": "color",
                    "id": "text_color_mobile",
                    "label": "Color",
                    "default": "#000000"
                },
                {
                    "type": "range",
                    "id": "text_font_size_mobile",
                    "min": 10,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "label": "Font size",
                    "default": 16
                },
                {
                    "type": "text",
                    "id": "margin_mobile",
                    "label": "Margin",
                    "info": "Ex: 10px 10px 10px 10px"
                }
            ]
        },
        {
            "type": "button",
            "name": "Button",
            "settings": [
                {
                    "type": "text",
                    "id": "button",
                    "label": "Text button",
                    "default": "Read More"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                },
                {
                    "type": "range",
                    "id": "button_font_size",
                    "min": 10,
                    "max": 30,
                    "step": 1,
                    "unit": "px",
                    "label": "Font size",
                    "default": 14
                },
                {
                    "type": "text",
                    "id": "button_padding",
                    "label": "Padding",
                    "placeholder": "6px 20px",
                    "info": "Ex: 10px 10px 10px 10px"
                },              
                {
                    "type": "text",
                    "id": "margin",
                    "label": "Margin",
                    "info": "Ex: 10px 10px 10px 10px"
                },
                {
                    "type": "color",
                    "id": "button_color",
                    "label": "Button color",
                    "default": "#ffffff"
                },
                {
                    "type": "color",
                    "id": "button_color_border",
                    "label": "Button border color",
                    "default": "#000000"
                },
                {
                    "type": "color",
                    "id": "button_color_bg",
                    "label": "Button background color",
                    "default": "#000000"
                },
                {
                    "type": "color",
                    "id": "button_color_hover",
                    "label": "Button color hover",
                    "default": "#ffffff"
                },
                {
                    "type": "color",
                    "id": "button_color_border_hover",
                    "label": "Button border color hover",
                    "default": "#000000"
                },
                {
                    "type": "color",
                    "id": "button_color_bg_hover",
                    "label": "Button background color hover",
                    "default": "#000000"
                },
                {
                    "type": "header",
                    "content": "Config for mobile"
                },
                {
                    "type": "range",
                    "id": "button_font_size_mobile",
                    "min": 10,
                    "max": 30,
                    "step": 1,
                    "unit": "px",
                    "label": "Font size",
                    "default": 14
                },
                {
                    "type": "text",
                    "id": "button_padding_mobile",
                    "label": "Padding",
                    "placeholder": "6px 20px",
                    "info": "Ex: 10px 10px 10px 10px"
                }
            ]
        }
        
    ],
    "presets": [
        {
            "name": "Background Parallax",
            "category": "3. Images"
        }
    ]
}
{% endschema %}