
{%- capture section_style -%}
{%- if section.settings.max_with != blank -%}
	--st-mx-w: {{- section.settings.max_with -}};
{%- endif -%}
	--st-bg-cl: {{- section.settings.breadcrumb_bg -}};
{%- if section.settings.margin_block != blank -%}
	--st-mg: {{- section.settings.margin_block -}};
{%- endif -%}
	--breadcrumb-color-link: {{- section.settings.breadcrumb_color_link -}};
	--breadcrumb-color: {{- section.settings.breadcrumb_color -}};
	--breadcrumb-heading-color: {{- section.settings.breadcrumb_color_heading -}};
	--breadcrumb-mh: {{- section.settings.breadcrumb-height -}};
	--breadcrumb-mh-m: {{- section.settings.breadcrumb-mheight -}},
{%- endcapture -%}
{%- if section.settings.image != blank  -%}
	{%- assign class_name = 'vela-breadcrumbs--image' -%}
{%- else -%}
	{%- assign class_name = 'vela-breadcrumbs--no-image' -%}
{%- endif -%}
<div class="vela-breadcrumbs vela-section overflow-hidden d-flex flex-wrap align-items-center {{ class_name }}" style="{{- section_style -}}">
	{%- assign breadcrumb_title = blog.title -%}
	{%- if section.settings.image != blank  -%}
		{%- assign bg_image = section.settings.image -%}
		{%- if section.blocks.size > 0 -%}
			{%- for block in section.blocks -%}
				{%- if block.settings.blog == blog.handle -%}
						{%- if block.settings.bgimage != blank -%}
							{%- assign bg_image = block.settings.bgimage -%}
						{%- endif -%}
						{%- if block.settings.title != blank -%}
							{%- assign breadcrumb_title = block.settings.title -%}
						{% endif %}
						{%- break -%}
				{%- endif -%}
			{%- endfor -%}
		{%- endif -%}
		{%- if bg_image != blank -%}
			<div class="vela-breadcrumbs__image lazyload"
				data-bgset="{%- include 'bgset', image: bg_image -%}"
				data-sizes="auto"
				data-parent-fit="cover">
			</div>
		{%- else -%}
			<div class="vela-breadcrumbs__image">
				{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
			</div>
		{%- endif -%}
	{%- endif -%}
	<div class="container{% if section.settings.full_with %}-fluid{% endif %}">
		<div class="vela-breadcrumbs__inner align-items-{% if section.settings.text-align == 'justify' %}center{% else %}{{ section.settings.text-align }}{% endif %}{% if section.settings.text-align == 'justify' %} justify-content-between{% else %} flex-column{% endif %}" aria-label="breadcrumb">
			{%- if section.settings.enable_title == 'alwary' -%} 
				{%- assign showtitle = "" -%}
			{%- elsif section.settings.enable_title == 'desktop' -%} 
				{%- assign showtitle = "d-none d-md-block" -%}
			{%- else -%}
				{%- assign showtitle = "d-none" -%}
			{%- endif -%}
			<h1 class="vela-breadcrumbs__title mb-1 {{ showtitle }}">{{ breadcrumb_title }}</h1>
			<ol class="breadcrumb m-0" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li class="breadcrumb-item breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a class="breadcrumb__link" href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}" itemprop="item">
					<span itemprop="name">{{ 'general.breadcrumbs.home_link_title' | t }}</span>
					</a>
					<meta itemprop="position" content="1" />
				</li>
				{%- if request.page_type == 'blog' -%}
					{%- if current_tags -%}
					<li class="breadcrumb-item breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<a class="breadcrumb__link" href="{{ blog.url }}" title="{{ blog.title | strip_html }}" itemprop="item">
						<span itemprop="name">{{ blog.title }}</span>
						</a>
						<meta itemprop="position" content="2" />
					</li>
					<li class="breadcrumb-item breadcrumb__item active" aria-current="page" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<span class="breadcrumb__text">
						<span itemprop="name">{{ current_tags | join: " + " }}</span>
						</span>
						<meta itemprop="position" content="3" />
					</li>
					{%- else -%}
					<li class="breadcrumb-item breadcrumb__item active" aria-current="page" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<span class="breadcrumb__text">
						<span itemprop="name">{{ blog.title }}</span>
						</span>
						<meta itemprop="position" content="2" />
					</li>
					{%- endif -%}
				{%- elsif request.page_type == 'article' -%}
					<li class="breadcrumb-item breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<a class="breadcrumb__link" href="{{ blog.url }}" title="{{ blog.title | strip_html }}" itemprop="item">
							<span itemprop="name">{{ blog.title }}</span>
						</a>
						<meta itemprop="position" content="2" />
					</li>
					<li class="breadcrumb-item breadcrumb__item active" aria-current="page" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<span class="breadcrumb__text">
							<span itemprop="name">{{ article.title }}</span>
						</span>
						<meta itemprop="position" content="3" />
					</li>
				{%- endif -%}
			</ol>
		</div>
	</div>
</div>
{% schema %}
  {
    "name": "Breadcrumb",
    "tag": "section",
	"class": "velaFramework",
    "settings": [
		{
			"type": "header",
			"content": "t:sections.global.settings.header_section.content"
		},
		{
			"type": "checkbox",
			"id": "full_with",
			"label": "t:sections.global.settings.full_width.label"
		},
		{
			"type": "text",
			"id": "max_with",
			"label": "t:sections.global.settings.max_with.label",
			"info": "t:sections.global.settings.max_with.info"
		},
		{
			"type": "text",
			"id": "margin_block",
			"label": "Margin",
			"placeholder": "0px 0px",
			"default": "0 0 30px",
			"info": "Ex: 0px 0px 30px 0px"
		},
		{
			"type": "checkbox",
			"id": "bgimage",
			"label": "Use background image"
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "Background image default",
			"info": "Default size: 1920x480 pixels"
		},
		{
			"type": "select",
			"id": "enable_title",
			"label": "show breadcrumb title",
			"default": "none",
			"options" : [
				{
					"label": "None",
					"value": "none"
				},
				{
					"label": "Alwary",
					"value": "alwary"
				},
				{
					"label": "Desktop only",
					"value": "desktop"
				}
			]
		},
		{
			"type": "color",
			"id": "breadcrumb_bg",
			"label": "Background color",
			"default": "rgba(0,0,0,0)"
		},
		{
			"type": "color",
			"id": "breadcrumb_color_heading",
			"label": "Heading Color",
			"default": "rgba(0,0,0,0)"
		},
		{
			"type": "color",
			"id": "breadcrumb_color",
			"label": "Color",
			"default": "rgba(0,0,0,0)"
		},
		{
			"type": "color",
			"id": "breadcrumb_color_link",
			"label": "Color Link",
			"default": "rgba(0,0,0,0)"
		},
		{
			"type": "text",
			"id": "breadcrumb-height",
			"label": "Height",
			"default": "300px",
			"info": "Use for desktop ex: 300px"
		},
		{
			"type": "text",
			"id": "breadcrumb-mheight",
			"label": "Height",
			"default": "200px",
			"info": "Use for mobile ex: 200px"
		},
		{
			"type": "select",
			"id": "text-align",
			"label": "Text align",
			"default": "center",
			"options" : [
				{
					"label": "Left",
					"value": "start"
				},
				{
					"label": "Center",
					"value": "center"
				},
				{
					"label": "Right",
					"value": "end"
				},
				{
					"label": "Justify",
					"value": "justify"
				}
			]
		}
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Background image",
        "settings": [
			{
				"type": "text",
				"id": "title",
				"label": "Title",
				"placeholder": "Title"
			},
			{
				"type": "blog",
				"id": "blog",
				"label": "Blog"
			},
			{
				"type": "image_picker",
				"id": "bgimage",
				"label": "Background image",
				"info": "Image will be used in this blog"
			}
        ]
      }
    ]
  }
{% endschema %}
