{%- capture section_style -%}
    {%- if section.settings.max_with != blank -%}
        --st-mx-w: {{ section.settings.max_with }};
    {%- endif -%}
    {%- if section.settings.color_bg != 'rgba(0,0,0,0)' -%}
        --st-bg-cl: {{ section.settings.color_bg }};
    {%- endif -%}
    {%- if section.settings.padding_block != blank -%}
       --st-pd-dt: {{ section.settings.padding_block }};
    {%- endif -%}
    {%- if section.settings.padding_block_m != blank -%}
       --st-pd-mb: {{ section.settings.padding_block_m }};
    {%- endif -%}
    {%- if section.settings.margin_block != blank -%}
        --st-mg: {{ section.settings.margin_block }};
    {%- endif -%}
{%- endcapture -%}
<div class="vela-section contact_form1 overflow-hidden" {% if section_style %}style="{{ section_style }}"{% endif %}>
    <div class="container{% if section.settings.full_with %}-fluid{% endif %}">
        <div class="vela-section__inner">    
            <div class="contact_form1__content">
                <div class="row g-4">
                    <div class="col-12 col-lg-7 col-xl-6">
                        <div class="contact_form--infor pe-xl-3">
                            <div class="contact_form1__infor position-relative">
                                {%- if section.settings.contactinfo_title != blank -%}
                                    <h2 class="contact_form1-info__heading mb-3 mb-lg-4 pb-1 h4">{{ section.settings.contactinfo_title }}</h2>
                                {%- endif -%}
                                <div class="contact_form1-info__content">
                                    <div class="row g-3 g-md-4">
                                        {%- if section.settings.contactinfo_add != blank -%}
                                            <div class="contact_form1-info__item contact_form1-info__address d-flex align-items-center col-12">
                                                <i class="icons d-flex align-items-center justify-content-center me-2 me-md-3">
                                                    <svg width="18" height="18" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 768 1024"><path fill="currentColor" d="M388 0q-78 0-149.5 31.5t-123.5 84T31.5 240T0 390q0 44 12 92t28 89t46 91t53.5 84.5t63.5 84t62 75.5t62 72q12 14 18 20q2 3 7 7.5t18 11.5t25 7h3q28 0 50-26q320-368 320-608q0-167-102-277Q560 0 388 0zm12 955q-1 2-4 4l-4-4l-17-19q-38-44-59-68.5T257 796t-60-79.5t-51-79t-44.5-84t-26.5-81T64 390q0-87 44-162.5T226.5 108T388 64q79 0 141 27.5t99.5 74.5T685 270t19 120q0 216-304 565zm-15-762q-31 0-60.5 10t-53 27.5T230 272t-27.5 53t-9.5 60q0 80 56.5 136t136 56T521 521t56-136q0-39-15-74.5t-41-61t-61.5-41T385 193zm0 320q-53 0-91-38t-38-91t37.5-90.5T384 256t90.5 37.5T512 384q0 66-53 105q-33 24-74 24z"/></svg>
                                                </i>
                                                <div class="text">{{ section.settings.contactinfo_add }}</div>
                                            </div>
                                        {%- endif -%}
                                        {%- if section.settings.contactinfo_phone != blank -%}
                                            <div class="contact_form1-info__item contact_form1-info__phone d-flex align-items-center col-12">
                                                <i class="icons d-flex align-items-center justify-content-center me-2 me-md-3">
                                                    <svg width="18" height="18" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false"  style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1056 1056"><path fill="currentColor" d="M1016 788q-4-4-25-18t-49-32.5l-56-37l-50-33l-28-17.5q-4-3-9.5-5t-11-3t-11.5-1q-4 0-7 .5t-6.5 1t-7.5 1.5t-7.5 2t-7 2.5t-7.5 3t-7 3.5q-19 10-91 51q-61-43-152-134q-90-90-133-151q41-73 51-91q26-50 5-83q-11-17-70.5-107T268 39q-17-24-52-24q-9 0-17.5 2t-17 5.5T165 31q-5 4-16.5 13t-37 30.5t-45.5 42t-36 45T15 204q1 42 15 88.5T68 385t53.5 91t66.5 90t71 82.5t72 75.5q59 59 118 109.5t128.5 99t141 77.5t134.5 31h1q17 0 41-16t44.5-36.5t42-45T1012 907l12-16q31-44 9-84q-7-12-17-19zm-44 65q-30 42-67 79.5T851 977q-90-5-212.5-81.5T376.5 679T160 416.5T79 205q6-17 43.5-54T202 84q2-2 4-3t4.5-1.5t5.5-.5q1 0 2 1q60 86 132 199q0 8-6 21q-2 3-5 9t-7.5 14t-10.5 18t-12.5 22t-14.5 26l-20 35l23 33q47 67 141 161t160 140l33 24l36-20q29-17 54-31.5t35-18.5q11-7 20-7h1q81 51 200 133q1 7-5 15zM660 393q7 6 16 6h13l229 1q6 0 11.5-3.5t9-9T942 376v-17q-1-11-9-17.5t-18-6.5H764l262-262q9-9 9-22t-9.5-22.5T1003 19t-23 9L718 291l1-155q0-10-7-17t-16-7h-17q-6 0-11.5 2.5t-9 7T655 133v231h1l-2 12q1 11 6 17z" /></svg>
                                                </i>
                                                <div class="text">{{ section.settings.contactinfo_phone }}</div>
                                            </div>
                                        {%- endif -%}
                                        {%- if section.settings.contactinfo_email != blank -%}
                                            <div class="contact_form1-info__item contact_form1-info__email d-flex align-items-center col-12">
                                                <i class="icons d-flex align-items-center justify-content-center me-2 me-md-3">
                                                    <svg width="18" height="18" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"><path fill="currentColor" d="M1023 473q0-4-1-8t-2.5-8t-3.5-7.5t-5-6.5l-1-1q-2-3-5-6l-6-6l-167-168V159q0-13-9.5-22.5T800 127H699L582 27q-11-11-24.5-17.5T529 1t-30 0t-28.5 8.5T446 27L330 127H224q-13 0-22.5 9.5T192 159v105L29 427Q0 446 0 481v479q0 27 19 45.5t45 18.5h896q17 0 32-8.5t23.5-23.5t8.5-32V478l-1-5zM269 726L64 916V545zm62 30q6-3 11-9q1-1 2-2.5t2-3.5l138-128q11-9 25-9t24 8l384 348H110zm427-26l202-179v361zm140-313h-1l55 55l-120 107V351zM491 72q10-9 23-9q6 0 12 2.5t11 6.5l64 55H427zm277 119v445l-57 51l-137-124q-6-5-13-9t-14-6.5t-14.5-4.5t-15.5-2.5t-15.5 0T486 543t-15 5t-14.5 7t-13.5 9L316 682l-60-53V191h512zM104 443l88-88v217L75 469l27-26h2z" /></svg>
                                                </i>
                                                <div class="text">{{ section.settings.contactinfo_email }}</div>
                                            </div>
                                        {%- endif -%}
                                        {%- if section.settings.contactinfo_time != blank -%}
                                            <div class="contact_form1-info__item contact_form1-info__time d-flex align-items-center col-12">
                                                <i class="icons d-flex align-items-center justify-content-center me-2 me-md-3">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 1024 1024"><path fill="currentColor" d="m960 95.888l-256.224.001V32.113c0-17.68-14.32-32-32-32s-32 14.32-32 32v63.76h-256v-63.76c0-17.68-14.32-32-32-32s-32 14.32-32 32v63.76H64c-35.344 0-64 28.656-64 64v800c0 35.343 28.656 64 64 64h896c35.344 0 64-28.657 64-64v-800c0-35.329-28.656-63.985-64-63.985zm0 863.985H64v-800h255.776v32.24c0 17.679 14.32 32 32 32s32-14.321 32-32v-32.224h256v32.24c0 17.68 14.32 32 32 32s32-14.32 32-32v-32.24H960v799.984zM736 511.888h64c17.664 0 32-14.336 32-32v-64c0-17.664-14.336-32-32-32h-64c-17.664 0-32 14.336-32 32v64c0 17.664 14.336 32 32 32zm0 255.984h64c17.664 0 32-14.32 32-32v-64c0-17.664-14.336-32-32-32h-64c-17.664 0-32 14.336-32 32v64c0 17.696 14.336 32 32 32zm-192-128h-64c-17.664 0-32 14.336-32 32v64c0 17.68 14.336 32 32 32h64c17.664 0 32-14.32 32-32v-64c0-17.648-14.336-32-32-32zm0-255.984h-64c-17.664 0-32 14.336-32 32v64c0 17.664 14.336 32 32 32h64c17.664 0 32-14.336 32-32v-64c0-17.68-14.336-32-32-32zm-256 0h-64c-17.664 0-32 14.336-32 32v64c0 17.664 14.336 32 32 32h64c17.664 0 32-14.336 32-32v-64c0-17.68-14.336-32-32-32zm0 255.984h-64c-17.664 0-32 14.336-32 32v64c0 17.68 14.336 32 32 32h64c17.664 0 32-14.32 32-32v-64c0-17.648-14.336-32-32-32z"/></svg>
                                                </i>
                                                <div class="text">{{ section.settings.contactinfo_time }}</div>
                                            </div>
                                        {%- endif -%}
                                        {% if section.settings.contactinfo_desc != blank %}
                                            <div class="contact_form1-info__item contact_form1-info__desc">{{ section.settings.contactinfo_desc }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5 col-xl-6">
                        <div class="contact_form1__wrapper">
                            <h2 class="contact_form1__title mb-3 mb-lg-4 pb-1 h4">{{ section.settings.contactform_heading }}</h2>
                            {%- if section.settings.contactform_desc != blank -%}
                                <div class="contact_form1__desc mb-5 pb-lg-2">{{ section.settings.contactform_desc }}</div>
                            {%- endif -%}
                            {%- form 'contact', id: 'ContactForm' -%}
                                {%- if form.posted_successfully? -%}
                                    <div class="alert-success alert alert-success" autofocus>
                                        {{ 'templates.contact.form.post_success' | t }}
                                    </div>
                                {%- elsif form.errors -%}
                                    <div class="alert-error alert alert-danger alert-dismissible fade show" autofocus>
                                        {{ form.errors | default_errors }}
                                        <button type="button" data-dismiss="alert" aria-hidden="true" data-bs-dismiss="alert" aria-label="Close" class="btn-close"></button>
                                    </div>
                                {%- endif -%}
                                <div class="row g-4 mb-4 mb-xl-5">
                                    <div class="col-12 col-lg-6">
                                        <label class="form__label mb-2" for="ContactForm-name">{{ 'templates.contact.form.name' | t }} <span class="text-danger" aria-hidden="true">*</span></label>
                                        <input class="form-control" placeholder="{{ 'templates.contact.form.name' | t }}" autocomplete="name" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" required>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <label class="form__label mb-2" for="ContactForm-email">{{ 'templates.contact.form.email' | t }} <span class="text-danger" aria-hidden="true">*</span></label>
                                        <input class="form-control"
                                            type="email"
                                            id="ContactForm-email"
                                            placeholder="{{ 'templates.contact.form.email' | t }}"
                                            name="contact[email]"
                                            autocorrect="off"
                                            autocapitalize="off"
                                            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                                            aria-required="true"
                                            required
                                            >
                                    </div>
                                    <div class="col-12">
                                        <label class="form__label mb-2" for="ContactForm-body">{{ 'templates.contact.form.comment' | t }} <span class="text-danger" aria-hidden="true">*</span></label>
                                        <textarea class="form-control" rows="4" id="ContactForm-message" name="contact[{{ 'templates.contact.form.comment' | t }}]" required>{% if form.body %}{{ form.body }}{% endif %}</textarea>
                                    </div>
                                </div>
                                <div class="text-start">
                                    <button type="submit" class="btn btn-contact-form text-uppercase"><span>{{ 'templates.contact.form.send' | t }} </span></button>
                                </div>
                            {% endform %}
                        </div>
                    </div>
                </div>
            </div>
		</div>
    </div>
</div>
{% schema %}
  	{
        "name": "Contact Form 1",
        "tag": "section",
        "class": "velaFramework",
        "disabled_on": {
            "groups": ["header", "footer"]
        },
        "settings": [
            {
                "type": "header",
                "content": "t:sections.global.settings.header_section.content"
            },
            {
                "type": "checkbox",
                "id": "full_with",
                "label": "t:sections.global.settings.full_width.label"
            },
            {
                "type": "text",
                "id": "max_with",
                "label": "t:sections.global.settings.max_with.label",
                "info": "t:sections.global.settings.max_with.info"
            },
            {
                "type": "color",
                "id": "color_bg",
                "label": "t:sections.global.settings.bg_color.label",
                "default": "rgba(0,0,0,0)"
            },
            {
                "type": "text",
                "id": "padding_block",
                "label": "t:sections.global.settings.padding.label",
                "placeholder": "0px 0px",
                "info": "t:sections.global.settings.padding.info"
            },
            {
                "type": "text",
                "id": "padding_block_m",
                "label": "t:sections.global.settings.padding_mobile.label",
                "placeholder": "0px 0px",
                "info": "t:sections.global.settings.padding_mobile.info"
            },
            {
                "type": "text",
                "id": "margin_block",
                "label": "t:sections.global.settings.margin.label",
                "placeholder": "0px 0px"
            },
            {
                "type": "header",
                "content": "Contact form"
            },
            {
                "type": "text",
                "id": "contactform_heading",
                "label": "Heading"
            },
            {
                "type": "text",
                "id": "contactform_desc",
                "label": "Description"
            },
            {
                "type": "header",
                "content": "Contact info"
            },
            {
                "type": "text",
                "id": "contactinfo_title",
                "placeholder": "Title for Block",
                "label": "Title"
            },
            {
                "type": "html",
                "id": "contactinfo_add",
                "label": "Adress"
            },
            {
                "type": "html",
                "id": "contactinfo_phone",
                "label": "Phone"
            },
            {
                "type": "html",
                "id": "contactinfo_email",
                "label": "Email"
            },
            {
                "type": "html",
                "id": "contactinfo_time",
                "label": "Time"
            },
            {
                "type": "html",
                "id": "contactinfo_desc",
                "label": "Description"
            }
        ],
        "presets": [
            {
                "name": "Contact Form 1"
            }
        ]
  	}
{% endschema %}
