{%- capture section_style -%}
    {%- if section.settings.max_with != blank -%}
        --st-mx-w: {{ section.settings.max_with }};
    {%- endif -%}
    {%- if section.settings.color_bg != 'rgba(0,0,0,0)' -%}
        --st-bg-cl: {{ section.settings.color_bg }};
    {%- endif -%}
    {%- if section.settings.padding_block != blank -%}
       --st-pd-dt: {{ section.settings.padding_block }};
    {%- endif -%}
    {%- if section.settings.padding_block_m != blank -%}
       --st-pd-mb: {{ section.settings.padding_block_m }};
    {%- endif -%}
    {%- if section.settings.margin_block != blank -%}
        --st-mg: {{ section.settings.margin_block }};
    {%- endif -%}
{%- endcapture -%}
<div class="vela-section five-image overflow-hidden" {% if section_style %}style="{{ section_style }}"{% endif %}>
    <div class="container{% if section.settings.full_with %}-full{% endif %}">
        <div class="vela-section__inner">
            <div class="vela-section__content">
                <div class="row {% if section.settings.space_between == "4" or section.settings.space_between == "5" %}g-3 g-md-{{ section.settings.space_between }}{% else %}g-md-{{ section.settings.space_between }}{% endif%}">
                    <div class="col-12 col-md-8">
                        <div class="row {% if section.settings.space_between == "4" or section.settings.space_between == "5" %}g-3 g-md-{{ section.settings.space_between }}{% else %}g-md-{{ section.settings.space_between }}{% endif%}">
                            <div class="col-12" style="--plh-svg-h: 570px;">
                                {%- if section.settings.image1_url != blank -%}
                                    <a target="_blank" href="{{ section.settings.image1_url }}" title="" >
                                {%- endif -%}
                                    {% if section.settings.image1 != blank %}
                                        {% render 'img-global', image: section.settings.image1 %}
                                    {% else %}
                                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                    {% endif %}
                                {%- if section.settings.image1_url != blank -%}
                                    </a>
                                {%- endif -%}
                            </div>
                            <div class="col-12">
                                <div class="row {% if section.settings.space_between == "4" or section.settings.space_between == "5" %}g-3 g-md-{{ section.settings.space_between }}{% else %}g-md-{{ section.settings.space_between }}{% endif%}">
                                    <div class="col-12 col-sm-6" style="--plh-svg-h: 250px;">
                                        {%- if section.settings.image2_url != blank -%}
                                            <a target="_blank" href="{{ section.settings.image2_url }}" title="" >
                                        {%- endif -%}
                                            {% if section.settings.image2 != blank %}
                                                {% render 'img-global', image: section.settings.image2 %}
                                            {% else %}
                                                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                            {% endif %}
                                        {%- if section.settings.image2_url != blank -%}
                                            </a>
                                        {%- endif -%}
                                    </div>
                                    <div class="col-12 col-sm-6" style="--plh-svg-h: 250px;">
                                        {%- if section.settings.image3_url != blank -%}
                                            <a target="_blank" href="{{ section.settings.image3_url }}" title="" >
                                        {%- endif -%}
                                            {% if section.settings.image3 != blank %}
                                                {% render 'img-global', image: section.settings.image3 %}
                                            {% else %}
                                                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                            {% endif %}
                                        {%- if section.settings.image3_url != blank -%}
                                            </a>
                                        {%- endif -%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="row {% if section.settings.space_between == "4" or section.settings.space_between == "5" %}g-3 g-md-{{ section.settings.space_between }}{% else %}g-md-{{ section.settings.space_between }}{% endif%}">
                            <div class="col-12" style="--plh-svg-h: 268px;">
                                {%- if section.settings.image4_url != blank -%}
                                    <a target="_blank" href="{{ section.settings.image4_url }}" title="" >
                                {%- endif -%}
                                    {% if section.settings.image4 != blank %}
                                        {% render 'img-global', image: section.settings.image4 %}
                                    {% else %}
                                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                    {% endif %}
                                {%- if section.settings.image4_url != blank -%}
                                    </a>
                                {%- endif -%}
                            </div>
                            <div class="col-12" style="--plh-svg-h: 555px;">
                                {%- if section.settings.image5_url != blank -%}
                                    <a target="_blank" href="{{ section.settings.image5_url }}" title="" >
                                {%- endif -%}
                                    {% if section.settings.image5 != blank %}
                                        {% render 'img-global', image: section.settings.image5 %}
                                    {% else %}
                                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                    {% endif %}
                                {%- if section.settings.image5_url != blank -%}
                                    </a>
                                {%- endif -%}
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Five Images",
        "tag": "section",
        "class": "velaFramework",
        "disabled_on": {
            "groups": ["header", "footer"]
        },
        "settings": [
            {
                "type": "header",
                "content": "t:sections.global.settings.header_section.content"
            },
            {
                "type": "checkbox",
                "id": "full_with",
                "label": "t:sections.global.settings.full_width.label"
            },
            {
                "type": "text",
                "id": "max_with",
                "label": "t:sections.global.settings.max_with.label",
                "info": "t:sections.global.settings.max_with.info"
            },
            {
                "type": "color",
                "id": "color_bg",
                "label": "t:sections.global.settings.bg_color.label",
                "default": "rgba(0,0,0,0)"
            },
            {
                "type": "text",
                "id": "padding_block",
                "label": "t:sections.global.settings.padding.label",
                "placeholder": "0px 0px",
                "info": "t:sections.global.settings.padding.info"
            },
            {
                "type": "text",
                "id": "padding_block_m",
                "label": "t:sections.global.settings.padding_mobile.label",
                "placeholder": "0px 0px",
                "info": "t:sections.global.settings.padding_mobile.info"
            },
            {
                "type": "text",
                "id": "margin_block",
                "label": "t:sections.global.settings.margin.label",
                "placeholder": "0px 0px"
            },
            {
                "type": "header",
                "content": "t:sections.global.settings.header_settings.content"
            },
            {
                "type": "select",
                "id": "space_between",
                "label": "t:sections.global.settings.space_between.label",
                "default": "4",
                "options": [
                    {
                        "value": "2",
                        "label": "t:sections.global.settings.space_between.option__2.label"
                    },
                    {
                        "value": "3",
                        "label": "t:sections.global.settings.space_between.option__3.label"
                    },
                    {
                        "value": "4",
                        "label": "t:sections.global.settings.space_between.option__4.label"
                    },
                    {
                        "value": "5",
                        "label": "t:sections.global.settings.space_between.option__5.label"
                    }
                ]
            },
            {
                "type": "image_picker",
                "id": "image1",
                "label": "1st Image"
            },
            {
                "type": "url",
                "id": "image1_url",
                "label": "Url"
            },            
            {
                "type": "image_picker",
                "id": "image2",
                "label": "2st Image"
            },
            {
                "type": "url",
                "id": "image2_url",
                "label": "Url"
            },
            {
                "type": "image_picker",
                "id": "image3",
                "label": "3st Image"
            },
            {
                "type": "url",
                "id": "image3_url",
                "label": "Url"
            },
            {
                "type": "image_picker",
                "id": "image4",
                "label": "4st Image"
            },
            {
                "type": "url",
                "id": "image4_url",
                "label": "Url"
            },
            {
                "type": "image_picker",
                "id": "image5",
                "label": "5st Image"
            },
            {
                "type": "url",
                "id": "image5_url",
                "label": "Url"
            }
        ],
        "presets": [
            {
                "name": "Five Images",
                "category": "3. Images"
            }
        ]
    }
{% endschema %}