{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}
{{ 'section-blog-sidebar.css' | asset_url | stylesheet_tag }}
{%- capture section_style -%}
    {%- if section.settings.color_bg != 'rgba(0,0,0,0)' -%}
        --st-bg-cl: {{ section.settings.color_bg }};
    {%- endif -%}
    {%- if section.settings.max_with != blank -%}
        --st-mx-w: {{ section.settings.max_with }};
    {%- endif -%}
    {%- if section.settings.padding_block != blank -%}
       --st-pd-dt: {{ section.settings.padding_block }};
    {%- endif -%}
    {%- if section.settings.padding_block_m != blank -%}
       --st-pd-mb: {{ section.settings.padding_block_m }};
    {%- endif -%}
    {%- if section.settings.margin_block != blank -%}
        --st-mg: {{ section.settings.margin_block }};
    {%- endif -%}
{%- endcapture -%}
<div class="vela-section" {% if section_style %}style="{{ section_style }}"{% endif %}>
	<div class="container{% if section.settings.full_with %}-fluid{% endif %}">
		<div class="row {{ section.settings.sidebar_template }}">
			{%- if section.blocks.size > 0  and section.settings.sidebar_template == 'sidebarleft' -%}
				{% assign sidebar = true %}
				<div class="col-auto sidebar-left">
					<div id="sidebar_left" class="visible" data-bs-backdrop="false">
						<a class="d-block d-lg-none btn-sidebar btn-sidebar--open position-absolute"  data-bs-toggle="offcanvas" href="#sidebar_left" role="button" aria-controls="sidebar_left">
							{% render 'icons', icon: 'caret' %}
						</a>
						{% include 'blog-sidebar' , sidebarPosition: "sidebar_left" %}
					</div>
				</div>
			{% endif %}
			<div class="col main-article__inner">
				<article class="article-template" itemscope itemtype="http://schema.org/BlogPosting">
					{%- if section.settings.article_featuredimage  and article.image -%}
						<div class="article__image overflow-hidden mb-4">
							{%- include 'img-global', image: article.image -%}
						</div>
					{%- endif -%}
					<header class="page-header">
						<h1 class="mb-2 pb-1 h3">{{ article.title }}</h1>
						{%- if section.settings.article_meta -%}
							<div class="article__meta article__meta--post d-flex flex-wrap align-items-center">
								{%- capture author -%}{{ article.author }}{%- endcapture -%}
								<div class="article__meta-author d-flex align-items-center mb-1">{{ 'blogs.article.author_html' | t: author: author }}</div>
								{%- capture post_date -%}{{ article.published_at | date: format: 'month_date_year' }}{%- endcapture -%}
								<div class="article__meta-date mb-1"><time datetime="{{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' }}" class="date">{{ post_date }}</time></div>												
							</div>
						{%- endif -%}
					</header>
					<div class="article-template__content" itemprop="articleBody">
						{{ article.content }}
					</div>
					{%- if section.settings.article_tags or section.settings.article_sharing -%}
						<div class="article__extend d-flex justify-content-between align-items-center pt-2 pt-md-4">
							{%- if section.settings.article_tags -%}
								{% include 'article-tags' %}
							{%- endif -%}
					
							{%- if section.settings.article_sharing -%}
								<div class="article__social-sharing d-flex align-items-center">
									{%- if section.settings.article_sharing_title != blank -%}
										<div class="social-sharing__title">{{ section.settings.article_sharing_title }}</div>
									{%- endif -%}
									{% render 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
								</div>
							{%- endif -%}
						</div>
						<div class="text-center return-link-wrapper d-none">
							<a href="{{ blog.url }}" class="btn-link">
								{%- render 'icons', icon: 'arrow', class'icon icon-arrow' -%}
								{{ 'blogs.article.back_to_blog' | t: title: blog.title }}
							</a>
						</div>
					{%- endif -%}
					{%- if blog.comments_enabled? -%}
						<div class="article-template__comment-wrapper">
							<div id="comments">
							{%- if article.comments_count > 0 -%}
								{%- assign anchorId = '#Comments-' | append: article.id -%}
								<h2 id="Comments-{{ article.id }}" class="article-comments__heading">{{ 'blogs.article.comments' | t: count: article.comments_count }}</h2>
								{% paginate article.comments by 5 %}
									<div class="article-template__comments">
										{%- if comment.status == 'pending' and comment.content -%}
											<div class="comments_item d-flex">
												<div class="comment__avatar">
													{% render 'icons', icon: 'avatar' %}
												</div>
												<div class="comment__content">
													<div class="comment__meta">
														<span class="comments_item--author">{{ comment.author }}</span>
														<span class="comments_item--date">{{ comment.created_at | time_tag: format: 'date' }}</span>
													</div>
													<div class=" rte">
														{{ comment.content }}
													</div>
												</div>
											</div>
										{%- endif -%}
						
										{%- for comment in article.comments -%}
												<div class="comments_item d-flex">
													<div class="comment__avatar">
														{% render 'icons', icon: 'avatar' %}
													</div>
													<div class="comment__content">
														<div class="comment__meta">
															<span class="comments_item--author h6 m-0">{{ comment.author }}</span>
															<span class="comments_item--date">{{ comment.created_at | time_tag: format: 'date' }}</span>
														</div>
														<div class=" rte">
															{{ comment.content }}
														</div>
													</div>
												</div>
										{%- endfor -%}
										{% render 'pagination', paginate: paginate, anchor: anchorId %}
									</div>
								{% endpaginate %}
							{%- endif -%}
							{% form 'new_comment', article %}
								{%- liquid
								assign post_message = 'blogs.article.success'
								if blog.moderated? and comment.status == 'unapproved'
									assign post_message = 'blogs.article.success_moderated'
								endif
								-%}
								<h3 class="article-comments__heading mb-4">{{ 'blogs.article.comment_form_title' | t }}</h3>
								{%- if form.errors -%}
									<div class="form__message form__message--error mb-3" role="alert">
										<h3 class="form-message__title" tabindex="-1" autofocus>
											{{ 'templates.contact.form.error_heading' | t }}
										</h3>
										<ul>
											{%- for field in form.errors -%}
												<li>
													<a href="#CommentForm-{{ field }}" class="link">
													{%- if form.errors.translated_fields[field] contains 'author' -%}
														{{ 'blogs.article.name' | t }}
													{%- elsif form.errors.translated_fields[field] contains 'body' -%}
													{{ 'blogs.article.message' | t }}
													{%- else -%}
														{{ form.errors.translated_fields[field] }}
													{%- endif -%}
													{{ form.errors.messages[field] }}
													</a>
												</li>
											{%- endfor -%}
										</ul>
									</div>
								{%- elsif form.posted_successfully? -%}
									<div class="form__message form__message--success mb-3" role="status">
										<h3 class="form-message__title m-0" tabindex="-1" autofocus>{{ post_message | t }}</h3>
									</div>
								{%- endif -%}
					
								<div{% if blog.moderated? == false %} class="article-template__comments-fields"{% endif %}>
								<div class="row article-template__comment-fields">
									<div class="col-6  mb-3 mb-sm-4">
										<label class="d-none" for="CommentForm-author">{{ 'blogs.article.name' | t }} <span aria-hidden="true">*</span></label>
										<input
											type="text"
											name="comment[author]"
											id="CommentForm-author"
											class="form-control"
											autocomplete="name"
											value="{{ form.author }}"
											aria-required="true"
											placeholder="{{ 'blogs.article.name' | t }}"
											required
										/>
										{%- if form.errors contains 'author' -%}
											<small id="CommentForm-author-error">
											<span class="form__message">{{ 'blogs.article.name' | t }} {{ form.errors.messages['author'] }}.</span>
											</small>
										{%- endif -%}
										</div>
										<div class="col-6  mb-3 mb-sm-4">
											<label class="d-none" for="CommentForm-email">{{ 'blogs.article.email' | t }} <span aria-hidden="true">*</span></label>
											<input
												type="email"
												name="comment[email]"
												id="CommentForm-email"
												autocomplete="email"
												class="form-control"
												value="{{ form.email }}"
												autocorrect="off"
												autocapitalize="off"
												aria-required="true"
												placeholder="{{ 'blogs.article.email' | t }}"
												required
											/>
										</div>
									</div>
									<div class="col-12 mb-3 mb-sm-4">
										<label class="d-none" for="CommentForm-body">{{ 'blogs.article.message' | t }} <span aria-hidden="true">*</span></label>
										<textarea
										rows="8"
										name="comment[body]"
										id="CommentForm-body"
										class="form-control"
										aria-required="true"
										placeholder="{{ 'blogs.article.message' | t }}"
										required
										>{{ form.body }}</textarea>
									</div>
								</div>
								{%- if blog.moderated? -%}
									<p class="article-template__comment-warning caption">{{ 'blogs.article.moderated' | t }}</p>
								{%- endif -%}
								<div class="form-button text-end">
									<button type="submit" class="btn btn-default text-white article-comments--button">{{ 'blogs.article.post' | t }}</button>
								</div>
							{% endform %}
							</div>
						</div>
					{%- endif -%}
				</article>
			</div>
			{%- if section.settings.sidebar_template == 'sidebarright' -%}
				<div class="col-auto sidebar-right">
					<div id="sidebar_right" class="visible" data-bs-backdrop="false">
						<a class="d-block d-lg-none btn-sidebar btn-sidebar--open position-absolute"  data-bs-toggle="offcanvas" href="#sidebar_right" role="button" aria-controls="sidebar_right">
							{% render 'icons', icon: 'caret' %}
						</a>
						{% include 'blog-sidebar', sidebarPosition: "sidebar_right" %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</div>

{% javascript %}
	var sideBarLeft = document.getElementById('sidebar_left');
	var sideBarRight = document.getElementById('sidebar_right');
	
	update = () => {
		if( window.innerWidth > 992) {
			if (sideBarLeft != null) {
				sideBarLeft.classList.remove("offcanvas","offcanvas-start");
				sideBarLeft.classList.add("sticky-top");
			}
			if (sideBarRight != null) {
				sideBarRight.classList.remove("offcanvas","offcanvas-end");
				sideBarRight.classList.add("sticky-top");
			}
		} else {
			if (sideBarLeft != null) {
				sideBarLeft.classList.add("offcanvas","offcanvas-start");
				sideBarLeft.classList.remove("sticky-top");
			}
			if (sideBarRight != null) {
				sideBarRight.classList.add("offcanvas","offcanvas-end");
				sideBarRight.classList.remove("sticky-top");
			}
		}
	}
	if (sideBarLeft != null || sideBarRight != null) {
		window.update();
		window.addEventListener('resize', update);
	}
{% endjavascript %}

{% schema %}
{
	"name": "t:sections.main-article.name",
	"tag": "section",
	"settings": [
		{
			"type": "header",
			"content": "t:sections.global.settings.header_section.content"
		},
		{
			"type": "checkbox",
			"id": "full_with",
			"label": "t:sections.global.settings.full_width.label"
		},
		{
			"type": "text",
			"id": "max_with",
			"label": "t:sections.global.settings.max_with.label",
			"info": "t:sections.global.settings.max_with.info"
		},
		{
			"type": "color",
			"id": "color_bg",
			"label": "t:sections.global.settings.bg_color.label",
			"default": "rgba(0,0,0,0)"
		},
		{
			"type": "text",
			"id": "padding_block",
			"label": "t:sections.global.settings.padding.label",
			"placeholder": "0px 0px",
			"info": "t:sections.global.settings.padding.info"
		},
		{
			"type": "text",
			"id": "padding_block_m",
			"label": "t:sections.global.settings.padding_mobile.label",
			"placeholder": "0px 0px",
			"info": "t:sections.global.settings.padding_mobile.info"
		},
		{
			"type": "text",
			"id": "margin_block",
			"label": "t:sections.global.settings.margin.label",
			"placeholder": "0px 0px"
		},
		{
			"type": "header",
			"content": "Blog Detail Settings"
		},
		{
			"type": "select",
			"id": "sidebar_template",
			"label": "Sidebar template",
			"default": "sidebarright",
			"options": [
				{
					"label": "No Sidebar",
					"value": "sidebarnone"
				},
				{
					"label": "Sidebar Right",
					"value": "sidebarright"
				},
				{
					"label": "Sidebar Left",
					"value": "sidebarleft"
				}
			]
		},
		{
			"type": "checkbox",
			"id": "article_featuredimage",
			"label": "Show featured image",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "article_meta",
			"label": "Show article meta",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "article_tags",
			"label": "Show tags",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "article_sharing",
			"label": "Show button share",
			"default": true
		},
		{
			"type": "text",
			"id": "article_sharing_title",
			"label": "Share title",
			"default": "Share:"
		}
  	],
	"blocks": [
		{
			"type": "search",
			"name": "Blog search",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "search_title",
					"label": "Title"
				}
			]
		},
		{
			"type": "categories",
			"name": "Blog Categories",
			"limit": 2,
			"settings": [
				{
					"type": "text",
					"id": "categories_title",
					"label": "Title"
				},
				{
					"type": "link_list",
					"id": "categories_handle",
					"label": "Category menu",
					"info": "Choose menu for block. Add new menu: Admin->Navigation->Menu"
				}
			]
		},
		{
			"type": "relatedarticles",
			"name": "Related Articles",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "relatedarticles_title",
					"label": "Heading",
					"default": "Related Articles"
				},
				{
					"type": "range",
					"id": "relatedarticles_limit",
					"min": 1,
					"max": 10,
					"step": 1,
					"label": "Number of article",
					"default": 6
				}
			]
		},
		{
			"type": "banner",
			"name": "Banner",
			"limit": 2,
			"settings": [
				{
					"type": "url",
					"id": "banner_url",
					"label": "Banner link"
				},
				{
					"type": "image_picker",
					"id": "banner_img",
					"label": "Banner image"
				}
			]
		},
		{
			"type": "tags",
			"name": "Blog Tags",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "tags_title",
					"label": "Heading",
					"default": "Articles Tags"
				},
				{
					"type": "range",
					"id": "tags_limit",
					"min": 1,
					"max": 20,
					"step": 1,
					"label": "Number of tags",
					"default": 10
				}
			]
		},
		{
			"type": "html",
			"name": "Custom html",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "html_title",
					"label": "Heading",
					"default": "Heading"
				},
				{
					"type": "html",
					"id": "html_content",
					"label": "content",
					"default": "<div style='text-align:center;'><h2>Use HTML to format your text so it can be easily read.</h2>This text can be used to share information about your brand with customers.</div>"
				}
			]
		},
		{
			"type": "author",
			"name": "About author",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "author_title",
					"label": "Heading",
					"default": "Heading"
				},
				{
					"type": "image_picker",
					"id": "author_img",
					"label": "author image"
				},
				{
					"type": "text",
					"id": "author_name",
					"label": "Author Name"
				},
				{
					"type": "url",
					"id": "author_fb_link",
					"label": "Facebook Link"
				},
				{
					"type": "url",
					"id": "author_tw_link",
					"label": "Twitter Link"
				},
				{
					"type": "url",
					"id": "author_tiktok_link",
					"label": "Tiktok Link"
				},
				{
					"type": "url",
					"id": "author_yt_link",
					"label": "Youtube Link"
				}
			]
		}
	]
}
{% endschema %}
