{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}
{{ 'section-blog-sidebar.css' | asset_url | stylesheet_tag }}

{%- assign owlColumn1 = section.settings.item-per-row | plus: 0 -%}
{%- assign sidebar = false -%}
{%- assign image_crop = nil -%}
{%- if section.settings.image_crop -%}
    {%- assign image_crop = 'center' -%}
{%- endif -%}
{%- capture section_style -%}
    {%- if section.settings.color_bg != 'rgba(0,0,0,0)' -%}
        --st-bg-cl: {{ section.settings.color_bg }};
    {%- endif -%}
    {%- if section.settings.max_with != blank -%}
        --st-mx-w: {{ section.settings.max_with }};
    {%- endif -%}
    {%- if section.settings.padding_block != blank -%}
       --st-pd-dt: {{ section.settings.padding_block }};
    {%- endif -%}
    {%- if section.settings.padding_block_m != blank -%}
       --st-pd-mb: {{ section.settings.padding_block_m }};
    {%- endif -%}
    {%- if section.settings.margin_block != blank -%}
        --st-mg: {{ section.settings.margin_block }};
    {%- endif -%}
{%- endcapture -%}

	<div class="vela-section" {% if section_style %}style="{{ section_style }}"{% endif %}>
		<div class="main-blog">
			{%- if section.settings.blog_title -%}
				<div class="page-header">
					<div class="container{% if section.settings.full_with %}-fluid{% endif %}">
						<h1 class="page-title text-center">
							{% if current_tags %}
								{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}
							{% else %}
								{{ blog.title }}
							{% endif %}
							<a href="{{ shop.url }}{{ blog.url }}.atom">
								{%- render 'icons', icon: 'rss' -%}
								<span class="d-none">RSS</span>
							</a>
						</h1>
					</div>
				</div>
			{%- endif -%}
			<div class="main-blog__content">
				<div class="container{% if section.settings.full_with %}-fluid{% endif %}">
					<div class="row {{ section.settings.sidebar_template }}">
						{%- if section.blocks.size > 0  and section.settings.sidebar_template == 'sidebarleft' -%}
							{% assign sidebar = true %}
							<div class="col-auto sidebar-left">
								<div id="sidebar_left" class="blog-sidebar visible" data-bs-backdrop="false">
									<a class="d-block d-lg-none btn-sidebar btn-sidebar--open position-absolute"  data-bs-toggle="offcanvas" href="#sidebar_left" role="button" aria-controls="sidebar_left">
										{% render 'icons', icon: 'caret' %}
									</a>
									{% include 'blog-sidebar' , sidebarPosition: "sidebar_left" %}
								</div>
							</div>
						{% endif %}
						<div class="main-blog__inner col">
							{%- paginate blog.articles by section.settings.limit -%}
								<div class="article__list">
									<div class="row g-2 g-sm-3 gy-5 gy-xl-6 row-cols-1 row-cols-md-2 row-cols-lg-{{ owlColumn1 }}">
										{% for article in blog.articles %}
											{% if forloop.first %}{%- assign item_primary = true -%}{% else %} {%- assign item_primary = false -%} {%- endif -%}
											<div class="col">
												{%- assign article_content = article.excerpt_or_content -%}
												{%- if section.settings.blog_style == 'grid' -%}
													{%- include 'blog-grid-item' -%}
												{%- elsif section.settings.blog_style == 'simple' -%}
													{%- include 'blog-simple' -%}
												{%- elsif section.settings.blog_style == 'grid1' -%}
													{%- include 'blog-grid-item1' -%}
												{%- elsif section.settings.blog_style == 'grid2' -%}
													{%- include 'blog-grid-item2' -%}
												{%- elsif section.settings.blog_style == 'list1' -%}
													{%- include 'blog-list-item1' -%}
												{%- else -%}
													{%- include 'blog-list-item' -%}
												{%- endif -%}
											</div>
										{% endfor %}
									</div>
								</div>
								{%- if paginate.pages > 1 -%}
									<div class="pt-4  mt-5 mt-xl-6 border-top d-flex justify-content-lg-between align-items-center">
										{%- render 'pagination', paginate: paginate, class: 'pagination-wrapper' -%}
										{%- assign min_page = 1 -%}
										{%- assign max_page = paginate.page_size | times: paginate.current_page -%}
										{%- if paginate.current_page > 1 -%}
											{%- assign current_page = paginate.current_page | minus: 1 -%}
											{%- assign min_page = current_page | times: paginate.page_size -%}
											{%- assign min_page = min_page | plus: 1 -%}
										{%- endif -%}
										{%- if max_page > paginate.items -%}
											{%- assign max_page = paginate.items -%}
										{%- endif -%}
										<div class="blog-count d-none d-lg-block" role="status">{{ 'collections.general.product_count_html' | t: min_page:min_page, max_page:max_page, items_page:paginate.items }}</div>
									</div>
								{%- endif -%}
							{%- endpaginate -%}
						</div>
						{%- if section.settings.sidebar_template == 'sidebarright' -%}
							<div class="col-auto sidebar-right">
								<div id="sidebar_right" class="blog-sidebar visible" data-bs-backdrop="false">
									<a class="d-block d-lg-none btn-sidebar btn-sidebar--open position-absolute"  data-bs-toggle="offcanvas" href="#sidebar_right" role="button" aria-controls="sidebar_right">
										{% render 'icons', icon: 'caret' %}
									</a>
									{% include 'blog-sidebar', sidebarPosition: "sidebar_right" %}
								</div>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% javascript %}
	var sideBarLeft = document.getElementById('sidebar_left');
	var sideBarRight = document.getElementById('sidebar_right');
	
	update = () => {
		if( window.innerWidth > 992) {
			if (sideBarLeft != null) {
				sideBarLeft.classList.remove("offcanvas","offcanvas-start");
				sideBarLeft.classList.add("sticky-top");
			}
			if (sideBarRight != null) {
				sideBarRight.classList.remove("offcanvas","offcanvas-end");
				sideBarRight.classList.add("sticky-top");
			}
		} else {
			if (sideBarLeft != null) {
				sideBarLeft.classList.add("offcanvas","offcanvas-start");
				sideBarLeft.classList.remove("sticky-top");
			}
			if (sideBarRight != null) {
				sideBarRight.classList.add("offcanvas","offcanvas-end");
				sideBarRight.classList.remove("sticky-top");
			}
		}
	}
	if (sideBarLeft != null || sideBarRight != null) {
		window.update();
		window.addEventListener('resize', update);
	}
{% endjavascript %}
{% schema %}
{
	"name": "t:sections.main-blog.name",
	"tag": "section",
	"settings": [
		{
			"type": "header",
			"content": "t:sections.global.settings.header_section.content"
		},
		{
			"type": "checkbox",
			"id": "full_with",
			"label": "t:sections.global.settings.full_width.label"
		},
		{
			"type": "text",
			"id": "max_with",
			"label": "t:sections.global.settings.max_with.label",
			"info": "t:sections.global.settings.max_with.info"
		},
		{
			"type": "color",
			"id": "color_bg",
			"label": "t:sections.global.settings.bg_color.label",
			"default": "rgba(0,0,0,0)"
		},
		{
			"type": "text",
			"id": "padding_block",
			"label": "t:sections.global.settings.padding.label",
			"placeholder": "0px 0px",
			"info": "t:sections.global.settings.padding.info"
		},
		{
			"type": "text",
			"id": "padding_block_m",
			"label": "t:sections.global.settings.padding_mobile.label",
			"placeholder": "0px 0px",
			"info": "t:sections.global.settings.padding_mobile.info"
		},
		{
			"type": "text",
			"id": "margin_block",
			"label": "t:sections.global.settings.margin.label",
			"placeholder": "0px 0px"
		},
		{
			"type": "header",
			"content": "Blog Settings"
		},
		{
			"type": "select",
			"id": "sidebar_template",
			"label": "Sidebar template",
			"default": "sidebarleft",
			"options": [
				{
					"label": "No Sidebar",
					"value": "sidebarnone"
				},
				{
					"label": "Sidebar Right",
					"value": "sidebarright"
				},
				{
					"label": "Sidebar Left",
					"value": "sidebarleft"
				}
			]
		},
		{
			"type": "range",
			"id": "limit",
			"min": 1,
			"max": 20,
			"step": 1,
			"label": "Number of posts in a page",
			"default": 5
		},
		{
			"type": "range",
			"id": "item-per-row",
			"min": 1,
			"max": 6,
			"step": 1,
			"label": "Number per row",
			"default": 4
		},
		{
			"type": "select",
			"id": "blog_style",
			"label": "Blog Style",
			"default": "grid",
			"options": [
				{
					"label": "Grid",
					"value": "grid"
				},
				{
					"label": "Grid 1",
					"value": "grid1"
				},
				{
					"label": "Grid 2",
					"value": "grid2"
				},
				{
					"label": "Simple",
					"value": "simple"
				},
				{
					"label": "List",
					"value": "list"
				},
				{
					"label": "List",
					"value": "list1"
				}
			]
		},
		{
			"type": "checkbox",
			"id": "blog_title",
			"label": "Show title",
			"default": true
		},
		{
			"type": "header",
			"content": "BLog card"
		},
		{
			"type": "checkbox",
			"id": "blog_categories",
			"label": "Show Categories",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "blog_date",
			"label": "Show date",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "blog_author",
			"label": "Show author",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "blog_excerp",
			"label": "Show Excerp",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "blog_readmore",
			"label": "Show readmore",
			"default": true
		},
		{
			"type": "select",
			"id": "image_ratio",
			"options": [
			  {
				"value": "adapt",
				"label": "Adapt to image"
			  },
			  {
				"value": "portrait",
				"label": "Portrait"
			  },
			  {
				"value": "square",
				"label": "Square"
			  }
			],
			"default": "adapt",
			"label": "Image ratio"
		},
		{
			"type": "checkbox",
			"id": "crop",
			"label": "Crop Image",
			"default": false,
			"info": "Not use with Adapt to image"
		}
  	],
	"blocks": [
		{
			"type": "search",
			"name": "Blog search",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "search_title",
					"label": "Title"
				}
			]
		},
		{
			"type": "categories",
			"name": "Blog Categories",
			"limit": 2,
			"settings": [
				{
					"type": "text",
					"id": "categories_title",
					"label": "Title"
				},
				{
					"type": "link_list",
					"id": "categories_handle",
					"label": "Category menu",
					"info": "Choose menu for block. Add new menu: Admin->Navigation->Menu"
				}
			]
		},
		{
			"type": "relatedarticles",
			"name": "Related Articles",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "relatedarticles_title",
					"label": "Heading",
					"default": "Related Articles"
				},
				{
					"type": "checkbox",
					"id": "relatedarticles_image",
					"label": "Show image",
					"default": true
				},
				{
					"type": "range",
					"id": "relatedarticles_limit",
					"min": 1,
					"max": 10,
					"step": 1,
					"label": "Number of article",
					"default": 6
				}
			]
		},
		{
			"type": "banner",
			"name": "Banner",
			"limit": 2,
			"settings": [
				{
					"type": "url",
					"id": "banner_url",
					"label": "Banner link"
				},
				{
					"type": "image_picker",
					"id": "banner_img",
					"label": "Banner image"
				}
			]
		},
		{
			"type": "tags",
			"name": "Blog Tags",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "tags_title",
					"label": "Heading",
					"default": "Articles Tags"
				},
				{
					"type": "range",
					"id": "tags_limit",
					"min": 1,
					"max": 20,
					"step": 1,
					"label": "Number of tags",
					"default": 10
				}
			]
		},
		{
			"type": "html",
			"name": "Custom html",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "html_title",
					"label": "Heading",
					"default": "Heading"
				},
				{
					"type": "html",
					"id": "html_content",
					"label": "content",
					"default": "<div style='text-align:center;'><h2>Use HTML to format your text so it can be easily read.</h2>This text can be used to share information about your brand with customers.</div>"
				}
			]
		}
    ]
}
{% endschema %}
