{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'collection-sidebar.css' | asset_url | stylesheet_tag }}
{{ 'ion.rangeSlider.min.css' | asset_url | stylesheet_tag }}
{%- if section.settings.loadmore -%}
	<script src="{{ 'jquery.jscroll.min.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- assign col-lg = section.settings.products_ditem_per_row -%}
{%- assign col-md = section.settings.products_titem_per_row -%}
{%- assign col =  section.settings.products_mitem_per_row -%}
{%- capture section_style -%}
    {%- if section.settings.color_bg != 'rgba(0,0,0,0)' -%}
        --st-bg-cl: {{ section.settings.color_bg }};
    {%- endif -%}
    {%- if section.settings.max_with != blank -%}
        --st-mx-w: {{ section.settings.max_with }};
    {%- endif -%}
    {%- if section.settings.padding_block != blank -%}
       --st-pd-dt: {{ section.settings.padding_block }};
    {%- endif -%}
    {%- if section.settings.padding_block_m != blank -%}
       --st-pd-mb: {{ section.settings.padding_block_m }};
    {%- endif -%}
{%- endcapture -%}
<div id="ProductGridContainer" class="collection-page vela-section"{% if section_style %} style="{{ section_style }}"{% endif %}>
	<div class="container{% if section.settings.full_with %}-fluid{% endif %}">
		<div class="row g-3 g-md-4 {{ section.settings.sidebar_template }}">
			{%- if section.settings.sidebar_template == 'sidebarnone' -%}
				<div class="collection-sidebar sidebar-fullWith col col-auto">
					{% include 'collection-sidebar' %}
				</div>
			{%- endif -%}
			{%- if section.settings.sidebar_template == 'sidebarleft' -%}
				<div class="collection-sidebar sidebar-left col col-auto">
					{% include 'collection-sidebar' %}
				</div>
			{%- endif -%}
			{%- if section.settings.sidebar_template == 'sidebartop' -%}
				{%- include 'product-filter-top' -%}
			{%- endif -%}
			<div class="collection-content col">
				{%- if section.settings.show_collection_title  or section.settings.show_collection_image or section.settings.show_collection_desc -%}
					<div class="collection-hero">
						<div class="collection-hero__inner">
							{%- if section.settings.show_collection_title -%}
								<h1 class="collection-hero__title h5 pb-2 border-bottom mb-4">
									{{- collection.title | escape -}}
								</h1>
							{%- endif -%}
							{%- if section.settings.show_collection_image -%}
								{%- if collection.image or section.settings.colection_image -%}
									<div class="collection-hero__image-container oveflow-hidden mb-4">
										{% if collection.image %}
											{{ collection.image | image_url: width: collection.image.width | image_tag: loading: 'lazy', width: collection.image.width, height: collection.image.height, class: "collection-hero__image img-fluid", alt:  collection.image.alt | escape }}
										{%- elsif section.settings.colection_image -%}
											{{ section.settings.colection_image | image_url: width: section.settings.colection_image.width | image_tag: loading: 'lazy', width: section.settings.colection_image.width, height: section.settings.colection_image.height, class: "collection-hero__image img-fluid", alt:  section.settings.colection_image.alt | escape }}
										{%- endif -%}
									</div>
								{%- endif -%}
							{%- endif -%}
							{%- if section.settings.show_collection_desc and collection.description != blank -%}
								<div class="collection-hero__desc mt-5">
									<div class="vela-rte">
									{{ collection.description }}
									</div>
								</div>
							{%- endif -%}
						</div>
					</div>
				{%- endif -%}
				<div id="CollectionProductGrid">
					{%- paginate collection.products by section.settings.products_per_page -%}
						{% unless paginate.items == 0 %}
							{%- include 'collection-header' -%}
						{% endunless %}
						<div class="collection position-relative ">
							<!-- {% render 'preloading', preload_class: 'position-absolute' %} -->
							{%- if collection.products.size == 0 -%}
								<div class="collection collection--empty" id="main-collection-product-grid" data-id="{{ section.id }}">
									<div class="title-wrapper center">
										<h2 class="title title--primary">
											{{ 'sections.collection_template.empty' | t }}<br>
											{{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: "text-decoration-underline" }}
										</h2>
									</div>
								</div>
							{%- else -%}
								<div id="main-collection-product-grid" data-id="{{ section.id }}">
									<div class="row gy-3 gy-md-4 gy-lg-5 g-3 g-md-4 row-cols-{{ col }} row-cols-md-{{ col-md }} row-cols-lg-{{ col-lg }}">
										{%- for product in collection.products -%}
											<div class="col">
												{%- if section.settings.product_style == 'grid' -%}
													{% include 'product-grid-item' %}
												{%- else -%}
													{% include 'product-list-item' %}
												{%- endif -%}
											</div>
										{%- endfor -%}
									</div>
									{%- if section.settings.loadmore -%}
										{%- if collection.products_count > 0 -%}
											{%- if paginate.next -%}
												<div class="moreCollection">
													<a class="btnLoadMoreProduct" href="{{ paginate.next.url }}">{{ section.settings.loadmore_text }}</a>
												</div>
											{%- endif -%}
										{%- endif -%}
									{%- else -%}
										<div class="collection-pagination d-flex justify-content-between align-items-center flex-wrap border-top pt-3 mt-4 mt-lg-5">
											{%- assign min_page = 1 -%}
											{%- assign max_page = paginate.page_size | times: paginate.current_page -%}
											{%- if paginate.current_page > 1 -%}
												{%- assign current_page = paginate.current_page | minus: 1 -%}
												{%- assign min_page = current_page | times: paginate.page_size -%}
												{%- assign min_page = min_page | plus: 1 -%}
											{%- endif -%}
											{%- if max_page > paginate.items -%}
												{%- assign max_page = paginate.items -%}
											{%- endif -%}
											{% include 'pagination', paginate: paginate, anchor: '', class: 'pagination-wrapper d-flex' %}
											<div id="ProductCount1" class="collection-product-count" role="status">{{ 'collections.general.product_count_html' | t: min_page:min_page, max_page:max_page, items_page:paginate.items }}</div>
										</div>	
									{%- endif -%}
								</div>
							{%- endif -%}
						</div>
					{%- endpaginate -%}
				</div>
			</div>

          <div class="cust-desc" style="padding:30px;text-align:justify">
{{ collection.description }}
          </div>
			{%- if section.settings.sidebar_template == 'sidebarright' -%}
				<div class="collection-sidebar sidebar-right col col-auto">
					{% include 'collection-sidebar' %}
				</div>
			{%- endif -%}
		</div>
	</div>
</div>
{%- if section.settings.loadmore -%}
	<script>
		$(document).ready(function(){
			function callBackScroll() {};
			$('#main-collection-product-grid').jscroll({
				nextSelector: 'div.moreCollection:last a',
				loadingHtml: '<div class="infiniteLoading"><span class="btnLoadMoreProduct">Loading ...</span></div>',
				contentSelector: '#main-collection-product-grid > div',
				callback: callBackScroll
			});
		});
	</script>
{%- endif -%}
{% schema %}
{
	"name": "Collection pages",
	"settings": [
		{
			"type": "header",
			"content": "t:sections.global.settings.header_section.content"
		},
		{
			"type": "checkbox",
			"id": "full_with",
			"label": "t:sections.global.settings.full_width.label"
		},
		{
			"type": "text",
			"id": "max_with",
			"label": "t:sections.global.settings.max_with.label",
			"info": "t:sections.global.settings.max_with.info"
		},
		{
			"type": "color",
			"id": "color_bg",
			"label": "t:sections.global.settings.bg_color.label",
			"default": "rgba(0,0,0,0)"
		},
		{
			"type": "text",
			"id": "padding_block",
			"label": "t:sections.global.settings.padding.label",
			"placeholder": "0px 0px",
			"info": "t:sections.global.settings.padding.info"
		},
		{
			"type": "text",
			"id": "padding_block_m",
			"label": "t:sections.global.settings.padding_mobile.label",
			"placeholder": "0px 0px",
			"info": "t:sections.global.settings.padding_mobile.info"
		},
		{
			"type": "header",
			"content": "Collection info"
		},
		{
			"type": "checkbox",
			"id": "show_collection_title",
			"label": "Collection title",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "show_collection_image",
			"label": "Collection image",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "show_collection_desc",
			"label": "Collection description",
			"default": false
		},
		{
			"type": "image_picker",
			"id": "colection_image",
			"label": "Banner default"
		},
		{
			"type": "header",
			"content": "Collection layout"
		},
		{
			"type": "select",
			"id": "sidebar_template",
			"label": "Collection template",
			"default": "sidebarleft",
			"options": [
				{
					"label": "Fullwidth",
					"value": "sidebarnone"
				},
				{
					"label": "Sidebar Right",
					"value": "sidebarright"
				},
				{
					"label": "Sidebar Left",
					"value": "sidebarleft"
				},
				{
					"label": "Filter Top",
					"value": "sidebartop"
				}
			]
		},
		{
			"type": "select",
			"id": "product_style",
			"label": "Product Style",
			"default": "grid",
			"options": [
				{
					"label": "Grid",
					"value": "grid"
				},
				{
					"label": "List",
					"value": "list"
				}
			]
		},
		{
			"type": "range",
			"id": "products_per_page",
			"min": 6,
			"max": 50,
			"step": 1,
			"default": 6,
			"label": "Products per page"
		},
		{
			"type": "range",
			"id": "products_ditem_per_row",
			"min": 1,
			"max": 6,
			"step": 1,
			"default": 4,
			"label": "Products item per row",
			"info": "On the Desktop"
		},
		{
			"type": "range",
			"id": "products_titem_per_row",
			"min": 1,
			"max": 4,
			"step": 1,
			"default": 3,
			"label": "Products item per row",
			"info": "On the Tablets"
		},
		{
			"type": "range",
			"id": "products_mitem_per_row",
			"min": 1,
			"max": 3,
			"step": 1,
			"default": 2,
			"label": "Products item per row",
			"info": "On the Mobile"
		},
		{
			"type": "header",
			"content": "Load More"
		},
		{
			"type": "checkbox",
			"id": "loadmore",
			"label": "Loadmore Enable",
			"default": false
		},
		{
			"type": "text",
			"id": "loadmore_text",
			"label": "Text",
			"default": "Load more items"
		},
		{
			"type": "header",
			"content": "Sidebar sticky top"
		},
		{
			"type": "checkbox",
			"id": "sticky-top",
			"label": "Enable?",
			"default": true
		}
  	],
  	"blocks": [
		{
			"type": "categories",
			"name": "Categories",
			"limit": 2,
			"settings": [
				{
					"type": "text",
					"id": "categories_title",
					"label": "Title"
				},
				{
					"type": "link_list",
					"id": "categories_handle",
					"label": "Category menu",
					"info": "Choose menu for block. Add new menu: Admin->Navigation->Menu"
				}
			]
		},
		{
			"type": "filter",
			"name": "Product filter",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "[Customize filters](\/admin\/menus)"
				},
				{
					"type": "select",
					"id": "filter_style",
					"label": "Filter style",
					"default": "filter_inline",
					"options": [
						{
							"label": "List",
							"value": "filter_list"
						},
						{
							"label": "Inline",
							"value": "filter_inline"
						}
					]
				},
				{
					"type": "text",
					"id": "filter_title",
					"label": "Prefix",
					"default": "Filter By"
				}
			]
		},
		{
			"type": "productlist",
			"name": "Product sidebar",
			"limit": 2,
			"settings": [
				{
					"type": "text",
					"id": "product_title",
					"label": "Title"
				},
				{
					"type": "collection",
					"id": "collection_handle",
					"label": "Collection"
				},
				{
					"type": "range",
					"id": "limit",
					"min": 1,
					"max": 20,
					"step": 1,
					"label": "Limit",
					"default": 4
				}
			]
		},
		{
			"type": "banner",
			"name": "Banner",
			"limit": 2,
			"settings": [
				{
					"type": "url",
					"id": "banner_url",
					"label": "Banner link"
				},
				{
					"type": "image_picker",
					"id": "banner_img",
					"label": "Banner image"
				}
			]
		},
		{
			"type": "tags",
			"name": "Product Tags",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "tags_title",
					"label": "Heading",
					"default": "Tags"
				},
				{
					"type": "range",
					"id": "tags_limit",
					"min": 1,
					"max": 20,
					"step": 1,
					"label": "Number of tags",
					"default": 10
				}
			]
		},
		{
			"type": "html",
			"name": "Custom html",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "html_title",
					"label": "Heading",
					"default": "Heading"
				},
				{
					"type": "html",
					"id": "html_content",
					"label": "content",
					"default": "<h4>Use HTML to format your text so it can be easily read.</h4>This text can be used to share information about your brand with customers.</div>"
				}
			]
		}
    ]
}
{% endschema %}
