{%- capture section_style -%}
    {%- if section.settings.color_bg != 'rgba(0,0,0,0)' -%}
        --st-bg-cl: {{ section.settings.color_bg }};
    {%- endif -%}
    {%- if section.settings.padding_block != blank -%}
       --st-pd-dt: {{ section.settings.padding_block }};
    {%- endif -%}
    {%- if section.settings.padding_block_m != blank -%}
       --st-pd-mb: {{ section.settings.padding_block_m }};
    {%- endif -%}
    {%- if section.settings.margin_block != blank -%}
        --st-mg: {{ section.settings.margin_block }};
    {%- endif -%}
	{%- if section.settings.bgimage != blank -%}
        --st-bg-img: url({{ section.settings.bgimage | img_url: 'master' }});
    {%- endif -%}
{%- endcapture -%}
<div class="template-404 text-center vela-section overflow-hidden" {% if section_style %}style="{{ section_style }}"{% endif %}>
	<div class="container">
		<div class="template-404__inner pt-5">
			<div class="template-404__heading h2 mb-4 mb-lg-6 fw-bold">
				{%- if section.settings.image != blank -%}
					{% render 'img-global', image: section.settings.image, image_style: true %}
				{%- else -%}
					{{ 'templates.404.subtext' | t }}
				{%- endif -%}
			</div>
			{%- if section.settings.sub_heading != blank -%}
				<div class="template-404__sub-title mb-1">{{ section.settings.sub_heading }}</div>
			{%- endif -%}
			<h1 class="template-404__title  position-relative mb-2 text-uppercase h5 fw-bold">
				{%- if section.settings.heading != blank -%}
					{{ section.settings.heading }}
				{%- else -%}
					{{ 'templates.404.title' | t }}
				{%- endif -%}
			</h1>
			{%- if section.settings.info != blank -%}
				<p class="text mb-4 mb-lg-5">
					{{ section.settings.info }}
				</p>
			{%- endif -%}
			<form action="{{ routes.search_url }}" method="get" role="search" class="template-404__search mb-4 mx-auto">
				<div class="input-group border overflow-hidden">
					<input
						class="search__input form-control border-0"
						id="Search-In-Template"
						type="search"
						name="q"
						value="{{ search.terms | escape }}"
						{% if search.performed %}autofocus{% endif %}
						placeholder="{{ 'templates.search.search-placeholder' | t }}"
					>
					<input name="options[prefix]" type="hidden" value="last">
					<span class="p-0">
						<button type="submit" class="link vela-icon py-2 px-3 border-0 bg-white fw-medium" aria-label="{{ 'general.search.search' | t }}">
							<span class="d-inline-block my-1 d-none">{{ 'general.search.search' | t }}</span>
							{% render 'icons', icon: 'search', class: 'icon-search', attr: 'width="22" height="24"' %}
						</button>
					</span>
				</div>
			</form>
			<a href="javascript:history.go(-1)" class="btn-link fw-medium vela-icon px-5 py-2 lh-lg">
				<span class="d-inline-block">{{ 'templates.404.go_back' | t }}</span>
			</a>
		</div>
	</div>
</div>
{% schema %}
    {
        "name": "Template 404",
        "settings": [
            {
                "type": "header",
                "content": "General Settings"
            },
            {
                "type": "image_picker",
                "id": "bgimage",
                "label": "Background image"
            },
			{
                "type": "color",
                "id": "color_bg",
                "label": "Background Color",
                "default": "rgba(0,0,0,0)"
            },
            {
                "type": "text",
                "id": "padding_block",
                "label": "Padding",
                "placeholder": "0px 0px"
            },
			{
                "type": "text",
                "id": "padding_block_m",
                "label": "Padding on the mobile",
                "placeholder": "0px 0px",
                "info": "Ex: 0px 0px 0px 0px and use mobile only"
            },
            {
                "type": "text",
                "id": "margin_block",
                "label": "Margin",
                "placeholder": "0px 0px"
            },
			{
				"type": "header",
				"content": "General Settings"
			},
			{
				"type": "image_picker",
				"id": "image",
				"label": "Image"
			},
			{
				"type": "text",
				"id": "sub_heading",
				"label": "Sub heading",
				"default": "404"
			},
			{
				"type": "html",
				"id": "heading",
				"label": "Heading",
				"default": "Oops! That page can't be found."
			},
			{
				"type": "textarea",
				"id": "info",
				"label": "Info",
				"default": "We're really sorry but we can't seem to find the page you were looking for."
			}
        ]
    }
{% endschema %}