{%- if section.settings.bgimage != blank -%}
    {%- capture bgImage -%}background-image: url({{ section.settings.bgimage | img_url: 'master' }});{%- endcapture -%}
{%- endif -%}
{%- if section.settings.color_bg != 'rgba(0,0,0,0)' -%}
    {%- capture bgColor -%}
        background-color: {{ section.settings.color_bg }};
    {%- endcapture -%}
{%- endif -%}
{%- if section.settings.padding_block != blank -%}
    {%- capture paddingblock -%}
        padding: {{ section.settings.padding_block }};
    {%- endcapture -%}
{%- endif -%}
{%- if section.settings.margin_block != blank -%}
    {%- capture marginblock -%}
        margin: {{ section.settings.margin_block }};
    {%- endcapture -%}
{%- endif -%}
<div class="vela-section pass-word d-flex align-items-center justify-content-center" style="{{ bgImage }}{{ bgColor }}{{ paddingblock }}{{ marginblock }}">
	<div class="container">
		<div class="col-xs-12 text-center py-5">
			<div class="pass-word__inner ">
				<div class="pass-word__content">
					<h1 class="page-title text-center mb-4">{{ section.settings.header }}</h2>
					<div class="mb-4">                	                                                                 
						{% assign countdownTime = section.settings.countdown_timeend %}
						<div class="product-card__countdown d-flex justify-content-center" data-countdown="{{ countdownTime }}"></div>
					</div>
					{% unless shop.password_message == blank %}
						<div class="pass-word__message">
							{{ shop.password_message }}
						</div>
					{% endunless %}
					<div class="pass-word__login text-center m-auto w-100">
						<h2 class="pass-word__title h4 mb-3">{{ 'general.password_page.login_form_heading' | t }}</h2>
						{% form 'storefront_password' %}
							{{ form.errors | default_errors }}
							<div class="input-group border border-dark overflow-hidden">
								<label for="password" class="d-none">{{ 'general.password_page.login_form_password_label' | t }}</label>
								<input type="password" name="password" id="Password" class="form-control border-0" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
								<span class="p-0">
                                    <button type="submit" class="link vela-icon py-2 px-3 border-0 bg-white fw-medium" aria-label="{{ 'general.password_page.login_form_submit' | t }}">
                                        <span class="d-inline-block my-1">{{ 'general.password_page.login_form_submit' | t }}</span>
                                    </button>
								</span>
							</div>
						{% endform %}
						<p class="mt-3">{{ 'general.password_page.admin_link_html' | t }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% schema %}
    {
        "name": "Vela Password Page",
        "settings": [
            {
                "type": "header",
                "content": "General Settings"
            },
            {
                "type": "image_picker",
                "id": "bgimage",
                "label": "Background image"
            },
			{
                "type": "color",
                "id": "color_bg",
                "label": "Background Color",
                "default": "rgba(0,0,0,0)"
            },
            {
                "type": "text",
                "id": "padding_block",
                "label": "Padding",
                "placeholder": "0px 0px"
            },
            {
                "type": "text",
                "id": "margin_block",
                "label": "Margin",
                "placeholder": "0px 0px"
            },
            {
                "type": "text",
                "id": "header",
                "label": "Heading",
                "default": "Coming Soon"
            },
            {
		        "type": "text",
		        "id": "countdown_timeend",
		        "label": "Time End",
		        "placeholder": "YYYY\/MM\/DD"
		    },
		    {
		        "type": "paragraph",
		        "content": "Format: 'Year\/Month\/Day'"
		    },
		    {
		        "type": "paragraph",
		        "content": "Example: '2022\/01\/30'"
		    }
        ]
    }
{% endschema %}
