<style>
    .product-more__btn {
        border: 2px solid var(--border-color);
        font-size: 12px;
        text-transform: uppercase;
        padding: 10px 35px;
    }
    .product-more__btn:hover {
        border-color: var(--primary);
        color: var(--primary);
    }
</style>
{%- assign proCollection = section.settings.collection_handle -%}
{%- assign proPage = section.settings.display | plus: 0 -%}
{%- assign showReview = section.settings.display_reviews -%}
{%- assign owlColumn1 = section.settings.column1 | plus: 0 -%}
{%- assign owlColumn4 = section.settings.column4 | plus: 0 -%}
{%- capture section_style -%}
    {%- if section.settings.color_bg != 'rgba(0,0,0,0)' -%}
        --st-bg-cl: {{ section.settings.color_bg }};
    {%- endif -%}
    {%- if section.settings.max_with != blank -%}
        --st-mx-w: {{ section.settings.max_with }};
    {%- endif -%}
    {%- if section.settings.padding_block != blank -%}
       --st-pd-dt: {{ section.settings.padding_block }};
    {%- endif -%}
    {%- if section.settings.padding_block_m != blank -%}
       --st-pd-mb: {{ section.settings.padding_block_m }};
    {%- endif -%}
    {%- if section.settings.margin_block != blank -%}
        --st-mg: {{ section.settings.margin_block }};
    {%- endif -%}
{%- endcapture -%}
{%- assign proLimit = section.settings.limit -%}
<div class="vela-section sectioin-product-more overflow-hidden"  {% if section_style %}style="{{ section_style }}"{% endif %}>
    <div class="container{% if section.settings.full_with %}-fluid{% endif %}">
        <div class="vela-section__inner">
            {%- if section.settings.heading != blank -%}
                <div class="heading-group text-center mb-3 mb-md-4 pb-1">
                    <h2 class="heading mb-2">
                        <span>{{ section.settings.heading }}</span>
                    </h2>
                    {%- if section.settings.sub_heading != blank -%}
                        <div class="sub-heading mb-2">
                            {{ section.settings.sub_heading }}
                        </div>
                    {%- endif -%}
                </div>
            {%- endif -%}
            <div class="vela-section__content row gy-3 gy-md-4 gy-lg-5">
                {% paginate collections[proCollection].products by proPage %}
                    <div class="product-more__content col-12">
                        <div class="row g-2 g-sm-3 gy-3 gy-md-4 gy-lg-5 row-cols-{{ owlColumn4 }} row-cols-lg-{{ owlColumn1 }}">
                            {%- if proCollection == blank or collections[proCollection] == empty or collections[proCollection].products_count == 0 -%}
                                {% include 'onboarding-featured-products', strGridItem: 'col', product_style: 'grid' %}
                            {%- else -%}
                                {% for product in collections[proCollection].products %}
                                    <div class="col">
                                        {% include 'product-grid-item' %}
                                    </div>
                                {% endfor %}
                            {%- endif-%}
                        </div>
                        {%- if paginate.next -%}
                            <div class="d-flex justify-content-center position-relative">
                                <a class="product-more__btn btn mt-4 mt-lg-5" href="{{ paginate.next.url }}" title="{{ section.settings.btn_loadmore | strip_html }}">
                                    <span class="d-block py-1 py-md-2 px-3 px-md-4 px-xl-5">{{ section.settings.btn_loadmore }}</span>
                                    {% render 'preloading', preload_class: 'position-absolute d-none' %}
                                </a>
                            </div>
                        {%- else -%}
                            <div class="d-flex justify-content-center">
                                <a class="product-more__btn btn mt-4 mt-lg-5 disableLoadMore d-none" href="javascript:void(0);" title="{{ section.settings.btn_loadmore | strip_html }}">
                                    <span class="d-block py-1 py-md-2 px-3 px-md-4 px-xl-5">{{ section.settings.btn_loadmore }}</span>
                                </a>
                            </div>
                        {%- endif -%}
                    </div>
                    <div class="product-more__bottom d-none"></div>
                {% endpaginate %} 
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Product load more",
        "tag": "section",
        "class": "velaFramework",
        "disabled_on": {
            "groups": ["header", "footer"]
        },
        "settings":[
            {
                "type": "header",
                "content": "Design Section"
            },
            {
                "type": "checkbox",
                "id": "full_with",
                "label": "Make section full width"
            },
            {
                "type": "text",
                "id": "max_with",
                "label": "Container max width?(px)",
                "info": "Ex: 1440px"
            },
            {
                "type": "color",
                "id": "color_bg",
                "label": "Background Color",
                "default": "rgba(0,0,0,0)"
            },
            {
                "type": "text",
                "id": "padding_block",
                "label": "Padding",
                "placeholder": "0px 0px",
                "info": "Ex: 0px 0px 0px 0px and use desktop only"
            },
            {
                "type": "text",
                "id": "padding_block_m",
                "label": "Padding on the mobile",
                "placeholder": "0px 0px",
                "info": "Ex: 0px 0px 0px 0px and use mobile only"
            },
            {
                "type": "text",
                "id": "margin_block",
                "label": "Margin",
                "placeholder": "0px 0px",
                "default": "0 0 30px",
                "info": "Ex: 0px 0px 30px 0px"
            },
            {
                "type": "header",
                "content": "General Settings"
            },
            {
                "type": "html",
                "id": "heading",
                "label": "Heading",
                "default": "Heading"
            },
            {
                "type": "text",
                "id": "sub_heading",
                "label": "Sub heading",
                "default": "Sub heading"
            },
            {
                "type": "collection",
                "id": "collection_handle",
                "label": "Collection"
            },
			{
                "type": "range",
                "id": "display",
                "min": 2,
                "max": 50,
                "step": 2,
                "label": "Number of displayed products",
                "default": 8
            },
            {
                "type": "text",
                "id": "btn_loadmore",
                "label": "Button read more",
                "default": "Load more"
            },
            {
                "type": "range",
                "id": "column1",
                "min": 1,
                "max": 6,
                "step": 1,
                "label": "Item per row",
                "default": 4,
                "info": "Large desktops"
            },
            {
                "type": "range",
                "id": "column4",
                "min": 1,
                "max": 5,
                "step": 1,
                "label": "Item per row",
                "default": 2,
                "info": "Mobile phone"
            }
        ],
        "presets": [
            {
                "name": "Product load more",
                "category": "2. Products",
                "settings": {
                    "heading": "Product load more",
                    "collection_handle": "frontpage"
                }
            }
        ]
    }
{% endschema %}