{%- capture section_style -%}
    {%- if section.settings.color_bg != 'rgba(0,0,0,0)' -%}
        --st-bg-cl: {{ section.settings.color_bg }};
    {%- endif -%}
    {%- if section.settings.padding_block != blank -%}
       --st-pd-dt: {{ section.settings.padding_block }};
    {%- endif -%}
    {%- if section.settings.padding_block_m != blank -%}
       --st-pd-mb: {{ section.settings.padding_block_m }};
    {%- endif -%}
    {%- if section.settings.margin_block != blank -%}
        --st-mg: {{ section.settings.margin_block }};
    {%- endif -%}
{%- endcapture -%}
<div class="vela-section section-six-image overflow-hidden" {% if section_style %}style="{{ section_style }}"{% endif %}>
    <div class="container{% if section.settings.full_with %}-full{% endif %}">
        <div class="vela-section__inner{% if section.settings.color_bg != 'rgba(0,0,0,0)' %} my-4 py-4{% endif %}">
            <div class="vela-section__content">
                <div class="row g-2 row-cols-1 row-cols-md-5">
                    <div class="col">
                        <div class="row g-2 row-cols-2 row-cols-md-1">
                            <div class="six-image__item col">
                                {%- if section.settings.image1_url != blank -%}
                                    <a target="_blank" href="{{ section.settings.image1_url }}" title="" >
                                        {%- render 'icons', class: 'icon icon-instagram position-absolute top-50 start-50 translate-middle', attr: 'width="26px" height=26px' icon: 'instagram' -%}
                                {%- endif -%}
                                    {% if section.settings.image1 != blank %}
                                        {% render 'img-global', image: section.settings.image1 %}
                                    {% else %}
                                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                    {% endif %}
                                {%- if section.settings.image1_url != blank -%}
                                    </a>
                                {%- endif -%}
                            </div>
                            <div class="six-image__item col">
                                {%- if section.settings.image2_url != blank -%}
                                    <a target="_blank" href="{{ section.settings.image2_url }}" title="" >
                                        {%- render 'icons', class: 'icon icon-instagram position-absolute top-50 start-50 translate-middle', attr: 'width="26px" height=26px' icon: 'instagram' -%}
                                {%- endif -%}
                                    {% if section.settings.image2 != blank %}
                                        {% render 'img-global', image: section.settings.image2 %}
                                    {% else %}
                                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                    {% endif %}
                                {%- if section.settings.image2_url != blank -%}
                                    </a>
                                {%- endif -%}
                            </div>
                        </div>
                    </div>
                    <div class="col six-image__col-special">
                        <div class="six-image__item">
                            {%- if section.settings.image3_url != blank -%}
                                <a target="_blank" href="{{ section.settings.image3_url }}" title="" >
                                    {%- render 'icons', class: 'icon icon-instagram position-absolute top-50 start-50 translate-middle', attr: 'width="26px" height=26px' icon: 'instagram' -%}
                            {%- endif -%}
                                {% if section.settings.image3 != blank %}
                                    {% render 'img-global', image: section.settings.image3 %}
                                {% else %}
                                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                {% endif %}
                            {%- if section.settings.image3_url != blank -%}
                                </a>
                            {%- endif -%}
                        </div>
                    </div>
                    <div class="col six-image__col-special">
                        <div class="row g-2 row-cols-2">
                            <div class="col">
                                <div class="six-image__item position-relative bg-primary h-100">
                                    <div class="six-image__heading position-absolute top-50 translate-middle-y h6 d-block w-100 text-center px-2 text-white">
                                        {%- render 'icons', class: 'icon-instagram mb-2', icon: 'instagram', attr: 'width="36px" height="36px"' -%}
                                        <span class="d-block">{{ section.settings.heading }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="six-image__item col">
                                {%- if section.settings.image4_url != blank -%}
                                    <a target="_blank" href="{{ section.settings.image4_url }}" title="" >
                                        {%- render 'icons', class: 'icon icon-instagram position-absolute top-50 start-50 translate-middle', attr: 'width="26px" height=26px' icon: 'instagram' -%}
                                {%- endif -%}
                                    {% if section.settings.image4 != blank %}
                                        {% render 'img-global', image: section.settings.image4 %}
                                    {% else %}
                                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                    {% endif %}
                                {%- if section.settings.image4_url != blank -%}
                                    </a>
                                {%- endif -%}
                            </div>
                            <div class="six-image__item col">
                                {%- if section.settings.image5_url != blank -%}
                                    <a target="_blank" href="{{ section.settings.image5_url }}" title="" >
                                        {%- render 'icons', class: 'icon icon-instagram position-absolute top-50 start-50 translate-middle', attr: 'width="26px" height=26px' icon: 'instagram' -%}
                                {%- endif -%}
                                    {% if section.settings.image5 != blank %}
                                        {% render 'img-global', image: section.settings.image5 %}
                                    {% else %}
                                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                    {% endif %}
                                {%- if section.settings.image5_url != blank -%}
                                    </a>
                                {%- endif -%}
                            </div>
                            <div class="six-image__item col">
                                {%- if section.settings.image5_url != blank -%}
                                    <a target="_blank" href="{{ section.settings.image5_url }}" title="" >
                                        {%- render 'icons', class: 'icon icon-instagram position-absolute top-50 start-50 translate-middle', attr: 'width="26px" height=26px' icon: 'instagram' -%}
                                {%- endif -%}
                                    {% if section.settings.image5 != blank %}
                                        {% render 'img-global', image: section.settings.image5 %}
                                    {% else %}
                                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                    {% endif %}
                                {%- if section.settings.image5_url != blank -%}
                                    </a>
                                {%- endif -%}
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Six Images",
        "tag": "section",
        "class": "velaFramework",
        "disabled_on": {
            "groups": ["header", "footer"]
        },
        "settings": [
            {
              "type": "header",
              "content": "Design Block"
            },
            {
                "type": "checkbox",
                "id": "full_with",
                "label": "Make section full width"
            },
            {
                "type": "color",
                "id": "color_bg",
                "label": "Background Color",
                "default": "rgba(0,0,0,0)"
            },
            {
                "type": "text",
                "id": "padding_block",
                "label": "Padding",
                "placeholder": "0px 0px"
            },
            {
                "type": "text",
                "id": "padding_block_m",
                "label": "Padding on the mobile",
                "placeholder": "0px 0px",
                "info": "Ex: 0px 0px 0px 0px and use mobile only"
            },
            {
                "type": "text",
                "id": "margin_block",
                "label": "Margin",
                "placeholder": "0px 0px",
                "default": "0 0 30px",
                "info": "Ex: 0px 0px 30px 0px"
            },
            {
               "type": "header",
               "content": "General Settings"
            },
            {
                "type": "html",
                "id": "heading",
                "label": "Heading",
                "default": "Instagram"
            },
            {
                "type": "image_picker",
                "id": "image1",
                "label": "1st Image"
            },
            {
                "type": "url",
                "id": "image1_url",
                "label": "Url"
            },            
            {
                "type": "image_picker",
                "id": "image2",
                "label": "2st Image"
            },
            {
                "type": "url",
                "id": "image2_url",
                "label": "Url"
            },
            {
                "type": "image_picker",
                "id": "image3",
                "label": "3st Image"
            },
            {
                "type": "url",
                "id": "image3_url",
                "label": "Url"
            },
            {
                "type": "image_picker",
                "id": "image4",
                "label": "4st Image"
            },
            {
                "type": "url",
                "id": "image4_url",
                "label": "Url"
            },
            {
                "type": "image_picker",
                "id": "image5",
                "label": "5st Image"
            },
            {
                "type": "url",
                "id": "image5_url",
                "label": "Url"
            },
            {
                "type": "image_picker",
                "id": "image6",
                "label": "6st Image"
            },
            {
                "type": "url",
                "id": "image6_url",
                "label": "Url"
            }
        ],
        "presets": [
            {
                "name": "Six Images",
                "category": "3. Images"
            }
        ]
    }
{% endschema %}