
{%- capture section_style -%}
	{%- if section.settings.color_bg != 'rgba(0,0,0,0)' -%}
		--st-bg-cl: {{ section.settings.color_bg }};
	{%- endif -%}
	{%- if section.settings.max_with != blank -%}
        --st-mx-w: {{ section.settings.max_with }};
    {%- endif -%}
	{%- if section.settings.padding_block != blank -%}
	--st-pd-dt: {{ section.settings.padding_block }};
	{%- endif -%}
	{%- if section.settings.padding_block_m != blank -%}
	--st-pd-mb: {{ section.settings.padding_block_m }};
	{%- endif -%}
	{%- if section.settings.margin_block != blank -%}
		--st-mg: {{ section.settings.margin_block }};
	{%- endif -%}
	{%- if section.settings.image_bg != blank -%}
        --st-bg-img: url({{ section.settings.image_bg | img_url: 'master' }});
    {%- endif -%}
{%- endcapture -%}
<div class="vela-section section--slideshow slideshow-banner overflow-hidden" {% if section_style %}style="{{ section_style }}"{% endif %}>
	<div class="container{% if section.settings.full_with %}-full{% endif %}">
		<div class="vela-slideshow__inner position-relative" {% if section.settings.caption_max_with != blank %} style="--sl-ct-mx-w: {{ section.settings.caption_max_with }};"{% endif %}>
			<div class="row g-2 g-lg-4">
				<div class="col-12 slide-col">
					<div class="js-vela-slideshow vela-slideshow overflow-hidden rounded-2 gx-md-4 gx-lg-6"
						data-autoplay="{{ section.settings.autoplay }}"
						data-autoplayinterval="{{ section.settings.autoplay_speed }}"
						data-navigation="{{ section.settings.navigation }}"
						data-pagination="{{ section.settings.pagination }}"
						data-fade="{{ section.settings.fade }}">
						{%- if section.blocks.size > 0 -%}
							{%- for block in section.blocks -%}
								<div class="vela-slideshow__item">
									{%- if block.settings.link != blank -%}
										<a href="{{ block.settings.link }}"  aria-label="Slide Image"  class="vela-slideshow__item-link">
									{%- endif -%}
										{%- if block.settings.image == blank -%}
											<div class="placeholder-background">
											{%- capture current -%}{% cycle 1, 2 %}{%- endcapture -%}
											{{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
											</div>
										{%- else -%}
											<div class="slide--image" style="--plh-svg-h: {{ section.settings.slideshow-height }};">
												{%- capture image_style -%}
													{%- if section.settings.slideshow-height != blank -%}
														--sl-h: {{ section.settings.slideshow-height }};
													{%- else -%}
														--sl-h: {{ block.settings.image.height }};
													{%- endif -%}
														--sl-th: {{ section.settings.slideshow-theight }};
														--sl-mh: {{ section.settings.slideshow-mheight }};
														background-position: {{ block.settings.bg_align }};
												{%- endcapture -%}
												{%- if block.settings.image != blank -%}
													<div class="{% if block.settings.image_mobile != blank %}d-none d-md-block{% else %}d-block{% endif %} lazyload"
														data-bgset="{%- include 'bgset', image: block.settings.image -%}"
														data-sizes="auto"
														data-parent-fit="cover" style="{{ image_style }}">
													</div>
													{%- if block.settings.image_mobile != blank -%}
														<div class="d-block d-md-none lazyload"
															data-bgset="{%- include 'bgset', block.settings.image_mobile -%}"
															data-sizes="auto"
															data-parent-fit="cover" style="--sl-mh: {{ section.settings.slideshow-mheight }}; background-position: {{ block.settings.bg_align }};">
														</div>
													{%- endif -%}
												{%- else -%}
													<div class="placeholder-background">
														{%- capture current -%}{% cycle 1, 2 %}{%- endcapture -%}
														{{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
													</div>
												{%- endif -%}
											</div>
										{%- endif -%}
									{%- if block.settings.link != blank -%}
										</a>
									{%- endif -%}
									{%- assign time = 0.5 -%}
									<div class="slideshow-caption {% unless block.settings.position_content %}captionPosition{% endunless %} {% if block.settings.subheading == blank and block.settings.title == blank and block.settings.title2 == blank and block.settings.desc == blank and block.settings.btn_text == blank %} noCaption{% endif %}" style="background-color: {{ block.settings.content_color }}">
										<div class="captionWrap container{% if section.settings.caption_full_with %}-fluid{% endif %}">
											<div class="slideshow-caption__inner {{ block.settings.alignment }}">
												<div class="slideshow-caption__content text-{{ block.settings.text-alignment }} ">
													{%- unless block.settings.subheading == blank -%}
														<div class="slideshow-caption__subheading {{ block.settings.subheading_font_family }}  animate__{{ block.settings.slides_effect }}" style="--st-cl:{{ block.settings.subheading_color }}; --st-fs: {{ block.settings.subheading_font_size }}px; --st-fs-l: {{ block.settings.subheading_font_size_l }}px; --st-fs-m: {{ block.settings.subheading_font_size_m }}px;{% if block.settings.subheading_margin != blank %}--st-m: {{ block.settings.subheading_margin }};{% endif %}{% if block.settings.subheading_margin_m != blank %} --st-m-m: {{ block.settings.subheading_margin_m }}{% endif %}">
															{{ block.settings.subheading }}
														</div>
														{%- assign time = time | plus: 0.3 -%}
													{%- endunless -%}
													{%- unless block.settings.title == blank -%}
														<div class="slideshow-caption__heading {{ block.settings.title_font_family }}  animate__{{ block.settings.slides_effect }}" style="--animate-duration: {{ time }}s; --h-cl:{{ block.settings.title_color }}; --h-fs: {{ block.settings.title_font_size }}px; --h-fs-l: {{ block.settings.title_font_size_l }}px; --h-fs-m: {{ block.settings.title_font_size_m }}px;{% if block.settings.title_margin != blank %}--h-m: {{ block.settings.title_margin }};{% endif %}{% if block.settings.title_margin_m != blank %} --h-m-m: {{ block.settings.title_margin_m }}{% endif %}">
															{{ block.settings.title }}
														</div>
														{%- assign time = time | plus: 0.3 -%}
													{%- endunless -%}
													{%- unless block.settings.title2 == blank -%}
														<div class="slideshow-caption__heading--small {{ block.settings.title2_font_family }}  animate__{{ block.settings.slides_effect }}" style="--animate-duration: {{ time }}s; --hsm-cl:{{ block.settings.title2_color }}; --hsm-fs: {{ block.settings.title2_font_size }}px; --hsm-fs-l: {{ block.settings.title2_font_size_l }}px; --hsm-fs-m: {{ block.settings.title2_font_size_m }}px;{% if block.settings.title2_margin != blank %}--hsm-m: {{ block.settings.title2_margin }};{% endif %}{% if block.settings.title2_margin_m != blank %} --hsm-m-m: {{ block.settings.title2_margin_m }}{% endif %}">
															{{ block.settings.title2 }}
														</div>
														{%- assign time = time | plus: 0.3 -%}
													{%- endunless -%}
													{%- unless block.settings.desc == blank -%}
														<div class="slideshow-caption__desc {{ block.settings.desc_font_family }}  animate__{{ block.settings.slides_effect }}" style="--animate-duration: {{ time }}s; --desc-cl:{{ block.settings.desc_color }}; --desc-fs: {{ block.settings.desc_font_size }}px; --desc-fs-l: {{ block.settings.desc_font_size_l }}px; --desc-fs-m: {{ block.settings.desc_font_size_m }}px;{% if block.settings.desc_margin != blank %}--desc-m: {{ block.settings.desc_margin }};{% endif %}{% if block.settings.desc_margin_m != blank %} --desc-m-m: {{ block.settings.desc_margin_m }}{% endif %}">
															{{ block.settings.desc }}
														</div>
														{%- assign time = time | plus: 0.3 -%}
													{%- endunless -%}
													{%- unless block.settings.btn_text == blank -%}
														<a class="slideshow-caption__btn btn rounded-1  animate__{{ block.settings.slides_effect }}" href="{{ block.settings.btn_link }}" style="--animate-duration: {{ time }}s; --b-bd-cl:{{ block.settings.btn_border_color }};--b-bg-cl:{{ block.settings.btn_bg_color }};--b-cl:{{ block.settings.btn_text_color }};--b-bd-h-cl:{{ block.settings.btn_border_hover_color }};--b-bg-h-cl:{{ block.settings.btn_bg_hover_color }};--b-h-cl:{{ block.settings.btn_text_hover_color }};--b-fs:{{ block.settings.btn_font_size }}px;--b-fs-m:{{ block.settings.btn_font_size_m }}px;{% if block.settings.btn_padding != blank %}--b-pd:{{ block.settings.btn_padding }};{% endif %}{% if block.settings.btn_padding_m!= blank %}--b-pd-m:{{ block.settings.btn_padding_m }};{% endif %}{% if block.settings.btn_margin != blank %}--b-m: {{ block.settings.btn_margin }};{% endif %}{% if block.settings.btn_margin_m != blank %} --b-m-m: {{ block.settings.btn_margin_m }}{% endif %}">
															<span>{{ block.settings.btn_text }}</span>
														</a>
													{%- endunless -%}
												</div>
											</div>
										</div>
									</div>
								</div>
							{%- endfor -%}
						{%- endif -%}
					</div>
				</div>
				<div class="col-12 banner-col d-none d-md-block">
					<div class="slideshow-banner__group row g-2 g-lg-4">
						<div class="bannerItem col-12 {{ section.settings.effect }}">
							<a class="d-block overflow-hidden rounded-2" href="{% if section.settings.url1 != blank %}{{ section.settings.url1 }}{% else %}#{% endif %}">
								{% if section.settings.image1 != blank %}
									{%- render 'img-global', image: section.settings.image1 -%}
								{% else %}
									{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
								{% endif %}
							</a>  
						</div> 
						<div class="bannerItem col-12 {{ section.settings.effect }}">
							<a class="d-block overflow-hidden rounded-2" href="{% if section.settings.url2 != blank %}{{ section.settings.url2 }}{% else %}#{% endif %}">
								{% if section.settings.image2 != blank %}
									{%- render 'img-global', image: section.settings.image2 -%}
								{% else %}
									{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
								{% endif %}
							</a>  
						</div>   
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>
{% schema %}
	{
		"name": "Slideshow - banner",
		"tag": "section",
        "class": "velaFramework",
        "disabled_on": {
            "groups": ["header", "footer"]
        },
		"settings": [
			{
                "type": "header",
                "content": "t:sections.global.settings.header_section.content"
            },
            {
                "type": "checkbox",
                "id": "full_with",
                "label": "t:sections.global.settings.full_width.label"
            },
            {
                "type": "text",
                "id": "max_with",
                "label": "t:sections.global.settings.max_with.label",
                "info": "t:sections.global.settings.max_with.info"
            },
            {
                "type": "color",
                "id": "color_bg",
                "label": "t:sections.global.settings.bg_color.label",
                "default": "rgba(0,0,0,0)"
            },
			{
                "type": "image_picker",
                "id": "image_bg",
                "label": "t:sections.global.settings.bg_image.label"
            },
            {
                "type": "text",
                "id": "padding_block",
                "label": "t:sections.global.settings.padding.label",
                "placeholder": "0px 0px",
                "info": "t:sections.global.settings.padding.info"
            },
            {
                "type": "text",
                "id": "padding_block_m",
                "label": "t:sections.global.settings.padding_mobile.label",
                "placeholder": "0px 0px",
                "info": "t:sections.global.settings.padding_mobile.info"
            },
            {
                "type": "text",
                "id": "margin_block",
                "label": "t:sections.global.settings.margin.label",
                "placeholder": "0px 0px"
            },
            {
                "type": "header",
                "content": "t:sections.global.settings.header_settings.content"
            },
			{
				"type": "text",
				"id": "slideshow-height",
				"label": "Height",
				"default": "800px",
				"info": "Use for desktop ex: 800px"
			},
			{
				"type": "text",
				"id": "slideshow-theight",
				"label": "Height",
				"default": "600px",
				"info": "Use for Tablets ex: 600px"
			},
			{
				"type": "text",
				"id": "slideshow-mheight",
				"label": "Height",
				"default": "350px",
				"info": "Use for mobile ex: 350px"
			},
			{
				"type": "checkbox",
				"id": "navigation",
				"label": "Show Prev/Next arrows",
				"default": true
			},
			{
				"type": "checkbox",
				"id": "pagination",
				"label": "Show dot indicators",
				"default": true
			},
			{
				"type": "checkbox",
				"id": "fade",
				"label": "Fade effect",
				"default": true
			},
			{
				"type": "checkbox",
				"id": "autoplay",
				"label": "Autoplay",
				"default": true
			},
			{
				"type": "text",
				"id": "autoplay_speed",
				"label": "Change slides every",
				"info": "Required field number. Ex: 8000",
				"default": "8000"
			},
			{
				"type": "header",
				"content": "Caption"
			},
			{
				"type": "checkbox",
				"id": "caption_full_with",
				"label": "Make section full width"
			},
			{
				"type": "text",
				"id": "caption_max_with",
				"label": "Container max width?(px)",
				"info": "Only used when Caption is full width ex: 1440px"
			},
			{
				"type": "header",
				"content": "Banner"
			},
			{
				"type": "image_picker",
				"id": "image1",
				"label": "1st Image"
			},
			{
				"type": "url",
				"id": "url1",
				"label": "1st Url"
			},  
			{
				"type": "image_picker",
				"id": "image2",
				"label": "2st Image"
			},
			{
				"type": "url",
				"id": "url2",
				"label": "2st Url"
			} 
		],
		"blocks": [
			{
				"type": "image",
				"name": "Image slide",
				"settings": [
					{
						"type": "color",
						"id": "content_color",
						"label": "Background color",
						"default": "rgba(0,0,0,0)",
						"info": "Only mobile"
					},
					{
						"type": "checkbox",
						"id": "position_content",
						"label": "Text Over Image",
						"default": true,
						"info": "Only mobile"
					},
					{
						"type": "image_picker",
						"id": "image",
						"label": "Image Desktop",
						"info": "Recommend image size: 1920x690"
					},
					{
						"type": "image_picker",
						"id": "image_mobile",
						"label": "Image mobile",
						"info": "default image desktop.Recommend image size: 768x500"
					},
					{
						"type": "select",
						"id": "bg_align",
						"label": "Background Alignment",
						"default": "center",
						"options": [
							{
								"value": "top",
								"label": "Top"
							},
							{
								"value": "center",
								"label": "Center"
							},
							{
								"value": "bottom",
								"label": "Bottom"
							}
						]
					},
					{
						"type": "url",
						"id": "link",
						"label": "Slide URL"
					},
					{
						"type": "select",
						"id": "alignment",
						"label": "Caption alignment",
						"default": "text-start align-top",
						"options": [
						{
							"value": "text-start align-top",
							"label": "Top Left"
						},
						{
							"value": "text-center align-top",
							"label": "Top Center"
						},
						{
							"value": "text-end align-top",
							"label": "Top Right"
						},
						{
							"value": "text-start align-middle",
							"label": "Middle Left"
						},
						{
							"value": "text-center align-middle",
							"label": "Middle Center"
						},
						{
							"value": "text-end align-middle",
							"label": "Middle Right"
						},
						{
							"value": "text-start align-bottom",
							"label": "Bottom Left"
						},
						{
							"value": "text-center align-bottom",
							"label": "Bottom Center"
						},
						{
							"value": "text-end align-bottom",
							"label": "Bottom Right"
						}
						]
					},
					{
						"type": "select",
						"id": "text-alignment",
						"label": "Text alignment",
						"default": "center",
						"options": [
							{
								"value": "center",
								"label": "Center"
							},
							{
								"value": "start",
								"label": "Left"
							},
							{
								"value": "end",
								"label": "Right"
							}
						]
					},
					{
						"type": "select",
						"id": "slides_effect",
						"label": "Caption effect",
						"options": [
							{
								"value": "default",
								"label": "Default"
							},
							{
								"value": "backInDown",
								"label": "BackInDown"
							},
							{
								"value": "backInLeft",
								"label": "BackInLeft"
							},
							{
								"value": "backInRight",
								"label": "BackInRight"
							},
							{
								"value": "backInUp",
								"label": "BackInUp"
							},
							{
								"value": "bounceInDown",
								"label": "BounceInDown"
							},
							{
								"value": "bounceInLeft",
								"label": "BounceInLeft"
							},
							{
								"value": "bounceInRight",
								"label": "BounceInRight"
							},
							{
								"value": "bounceInUp",
								"label": "BounceInUp"
							},
							{
								"value": "fadeIn",
								"label": "FadeIn"
							},
							{
								"value": "fadeInDown",
								"label": "FadeInDown"
							},
							{
								"value": "fadeInLeft",
								"label": "FadeInLeft"
							},
							{
								"value": "fadeInRight",
								"label": "FadeInRight"
							},
							{
								"value": "fadeInUp",
								"label": "FadeInUp"
							},
							{
								"value": "fadeInTopLeft",
								"label": "FadeInTopLeft"
							},
							{
								"value": "fadeInTopRight",
								"label": "FadeInTopRight"
							},
							{
								"value": "fadeInBottomLeft",
								"label": "FadeInBottomLeft"
							},
							{
								"value": "fadeInBottomRight",
								"label": "FadeInBottomRight"
							},
							{
								"value": "lightSpeedInRight",
								"label": "LightSpeedInRight"
							},
							{
								"value": "lightSpeedInLeft",
								"label": "LightSpeedInLeft"
							},
							{
								"value": "rotateIn",
								"label": "RotateIn"
							},
							{
								"value": "rotateInDownLeft",
								"label": "RotateInDownLeft"
							},
							{
								"value": "rotateInDownRight",
								"label": "RotateInDownRight"
							},
							{
								"value": "rotateInUpLeft",
								"label": "RotateInUpLeft"
							},
							{
								"value": "rotateInUpRight",
								"label": "RotateInUpRight"
							},
							{
								"value": "zoomIn",
								"label": "ZoomIn"
							},
							{
								"value": "zoomInDown",
								"label": "ZoomInDown"
							},
							{
								"value": "zoomInLeft",
								"label": "ZoomInLeft"
							},
							{
								"value": "zoomInRight",
								"label": "ZoomInRight"
							},
							{
								"value": "zoomInUp",
								"label": "ZoomInUp"
							},
							{
								"value": "slideInDown",
								"label": "SlideInDown"
							},
							{
								"value": "slideInLeft",
								"label": "SlideInLeft"
							},
							{
								"value": "slideInRight",
								"label": "SlideInRight"
							},
							{
								"value": "slideInUp",
								"label": "SlideInUp"
							}
						],
						"default": "fadeIn",
						"info": "Demo effect [animate](https:\/\/animate.style\/)"
					},
					{
						"type": "header",
						"content": "Subheading"
					},
					{
						"type": "html",
						"id": "subheading",
						"label": "Subheading"
					},
					{
						"type": "color",
						"id": "subheading_color",
						"label": "Subheading color",
						"default": "#000000"
					},
					{
						"type": "select",
						"id": "subheading_font_family",
						"label": "Font family",
						"default": "text",
						"options": [
							{
								"value": "text",
								"label": "Text"
							},
							{
								"value": "h3",
								"label": "Heading"
							},
							{
								"value": "ff-special",
								"label": "Special"
							}
						]
					},
					{
						"type": "range",
						"id": "subheading_font_size",
						"min": 8,
						"max": 100,
						"step": 1,
						"unit": "px",
						"label": "Font size",
						"default": 18,
						"info": "Use desktops"
					},
					{
						"type": "range",
						"id": "subheading_font_size_l",
						"min": 8,
						"max": 100,
						"step": 1,
						"unit": "px",
						"label": "Font size",
						"default": 16,
						"info": "Use Tablets landscape"
					},
					{
						"type": "range",
						"id": "subheading_font_size_m",
						"min": 8,
						"max": 100,
						"step": 1,
						"unit": "px",
						"label": "Font size",
						"default": 12,
						"info": "Use Mobile phone"
					},
					{
						"type": "text",
						"id": "subheading_margin",
						"label": "Margin",
						"info": "Use desktops"
					},
					{
						"type": "text",
						"id": "subheading_margin_m",
						"label": "Margin",
						"info": "Use Mobile phone"
					},
					{
						"type": "header",
						"content": "Heading 1"
					},
					{
						"type": "html",
						"id": "title",
						"label": "Heading 1",
						"default": "Slideshow"
					},
					{
						"type": "color",
						"id": "title_color",
						"label": "Heading 1 color",
						"default": "#000000"
					},
					{
						"type": "select",
						"id": "title_font_family",
						"label": "Font family",
						"default": "ff-special",
						"options": [
							{
								"value": "text",
								"label": "Text"
							},
							{
								"value": "h3",
								"label": "Heading"
							},
							{
								"value": "ff-special",
								"label": "Special"
							}
						]
					},
					{
						"type": "range",
						"id": "title_font_size",
						"min": 8,
						"max": 100,
						"step": 1,
						"unit": "px",
						"label": "Font size",
						"default": 40,
						"info": "Use desktops"
					},
					{
						"type": "range",
						"id": "title_font_size_l",
						"min": 8,
						"max": 100,
						"step": 1,
						"unit": "px",
						"label": "Font size",
						"default": 30,
						"info": "Use Tablets landscape"
					},
					{
						"type": "range",
						"id": "title_font_size_m",
						"min": 8,
						"max": 100,
						"step": 1,
						"unit": "px",
						"label": "Font size",
						"default": 20,
						"info": "Use Mobile phone"
					},
					{
						"type": "text",
						"id": "title_margin",
						"label": "Margin",
						"info": "Use desktops"
					},
					{
						"type": "text",
						"id": "title_margin_m",
						"label": "Margin",
						"info": "Use Mobile phone"
					},
					{
						"type": "header",
						"content": "Heading 2"
					},
					{
						"type": "html",
						"id": "title2",
						"label": "Heading 2",
						"default": "Slideshow"
					},
					{
						"type": "color",
						"id": "title2_color",
						"label": "Heading 2 color",
						"default": "#000000"
					},
					{
						"type": "select",
						"id": "title2_font_family",
						"label": "Font family",
						"default": "text",
						"options": [
							{
								"value": "text",
								"label": "Text"
							},
							{
								"value": "h3",
								"label": "Heading"
							},
							{
								"value": "ff-special",
								"label": "Special"
							}
						]
					},
					{
						"type": "range",
						"id": "title2_font_size",
						"min": 8,
						"max": 100,
						"step": 1,
						"unit": "px",
						"label": "Font size",
						"default": 40,
						"info": "Use desktops"
					},
					{
						"type": "range",
						"id": "title2_font_size_l",
						"min": 8,
						"max": 100,
						"step": 1,
						"unit": "px",
						"label": "Font size",
						"default": 30,
						"info": "Use Tablets landscape"
					},
					{
						"type": "range",
						"id": "title2_font_size_m",
						"min": 8,
						"max": 100,
						"step": 1,
						"unit": "px",
						"label": "Font size",
						"default": 20,
						"info": "Use Mobile phone"
					},
					{
						"type": "text",
						"id": "title2_margin",
						"label": "Margin",
						"info": "Use desktops"
					},
					{
						"type": "text",
						"id": "title2_margin_m",
						"label": "Margin",
						"info": "Use Mobile phone"
					},
					{
						"type": "header",
						"content": "Description"
					},
					{
						"type": "html",
						"id": "desc",
						"label": "Description",
						"info": "Text or HTML code"
					},
					{
						"type": "color",
						"id": "desc_color",
						"label": "Description color",
						"default": "#000000"
					},
					{
						"type": "select",
						"id": "desc_font_family",
						"label": "Font family",
						"default": "text",
						"options": [
							{
								"value": "text",
								"label": "Text"
							},
							{
								"value": "h3",
								"label": "Heading"
							},
							{
								"value": "ff-special",
								"label": "Special"
							}
						]
					},
					{
						"type": "range",
						"id": "desc_font_size",
						"min": 8,
						"max": 100,
						"step": 1,
						"unit": "px",
						"label": "Font size",
						"default": 14,
						"info": "Use desktops"
					},
					{
						"type": "range",
						"id": "desc_font_size_l",
						"min": 8,
						"max": 100,
						"step": 1,
						"unit": "px",
						"label": "Font size",
						"default": 12,
						"info": "Use Tablets landscape"
					},
					{
						"type": "range",
						"id": "desc_font_size_m",
						"min": 8,
						"max": 100,
						"step": 1,
						"unit": "px",
						"label": "Font size",
						"default": 10,
						"info": "Use Mobile phone"
					},
					{
						"type": "text",
						"id": "desc_margin",
						"label": "Margin",
						"info": "Use desktops"
					},
					{
						"type": "text",
						"id": "desc_margin_m",
						"label": "Margin",
						"info": "Use Mobile phone"
					},
					{
						"type": "header",
						"content": "Button"
					},
					{
						"type": "text",
						"id": "btn_text",
						"label": "Button text"
					},
					{
						"type": "url",
						"id": "btn_link",
						"label": "Button URL"
					},
					{
						"type": "range",
						"id": "btn_font_size",
						"min": 8,
						"max": 50,
						"step": 1,
						"unit": "px",
						"label": "Font size",
						"default": 14,
						"info": "Use desktops"
					},
					{
						"type": "range",
						"id": "btn_font_size_m",
						"min": 6,
						"max": 40,
						"step": 1,
						"unit": "px",
						"label": "Font size",
						"default": 12,
						"info": "Use mobile"
					},
					{
						"type": "text",
						"id": "btn_padding",
						"label": "Button padding",
						"placeholder": "10px 30px",
						"default": "10px 30px",
						"info": "Use desktops"
					},
					{
						"type": "text",
						"id": "btn_padding_m",
						"label": "Button padding",
						"placeholder": "10px 30px",
						"default": "6px 25px",
						"info": "Use mobile"
					},
					{
						"type": "color",
						"id": "btn_text_color",
						"label": "Button text color",
						"default": "#ffffff"
					},                
					{
						"type": "color",
						"id": "btn_border_color",
						"label": "Button border color",
						"default": "#000000"
					},                
					{
						"type": "color",
						"id": "btn_bg_color",
						"label": "Button background color",
						"default": "#000000"
					},
					{
						"type": "color",
						"id": "btn_text_hover_color",
						"label": "Button text hover color",
						"default": "#ffffff"
					},                
					{
						"type": "color",
						"id": "btn_border_hover_color",
						"label": "Button border hover color",
						"default": "#000000"
					},                
					{
						"type": "color",
						"id": "btn_bg_hover_color",
						"label": "Button background hover color",
						"default": "#000000"
					},
					{
						"type": "text",
						"id": "btn_margin",
						"label": "Margin",
						"info": "Use desktops"
					},
					{
						"type": "text",
						"id": "btn_margin_m",
						"label": "Margin",
						"info": "Use Mobile phone"
					}
				]
			}
		],
    "presets": [
        {
            "name": "Slideshow - banner",
            "blocks": [
                {
                    "type": "image"
                },
                {
                    "type": "image"
                },
                {
                    "type": "image"
                }
            ]
        }
    ]
}
	{% endschema %}
